

# Constraint for clk*2
NET "*/inst_decimator/*enb_1_2_0" TNM_NET = FFS "tgrp_en2";
INST "*/inst_decimator/*u_Stage1*" TNM = "tgrp_en2";
TIMESPEC TS_MCYCLE2 = FROM "tgrp_en2" TO "tgrp_en2" TS_sys_clk*2; # <2 fails, >=3 passes

# Constraint for clk*4
NET "*/inst_decimator/*enb_1_4_0" TNM_NET = FFS "tgrp_en4";
INST "*/inst_decimator/*u_Stage2*" TNM = "tgrp_en4";
TIMESPEC TS_MCYCLE4 = FROM "tgrp_en4" TO "tgrp_en4" TS_sys_clk*4; # <4 fails, >=5 passes


