[submodule "deps/VHDL-Components"]
	path = deps/VHDL-Components
	url = git@github.com:BBN-Q/VHDL-Components.git
[submodule "deps/verilog-axis"]
	path = deps/verilog-axis
	url = git@github.com:alexforencich/verilog-axis.git
[submodule "deps/PolyphaseSSB"]
	path = deps/PolyphaseSSB
	url = git@qiplab.bbn.com:buq-lab/PolyphaseSSB.git
