################################################################################
# I/O STANDARDS and PIN LOC Constraints
################################################################################

################################################################################
# Clocks and resets
################################################################################
NET "sys_clk_p"      LOC = K24 | IOSTANDARD = DIFF_SSTL18_I;  #Bank 24
NET "sys_clk_n"      LOC = K23 | IOSTANDARD = DIFF_SSTL18_I;  #Bank 24

NET "pex_rst_n"      LOC = AC22 | IOSTANDARD = LVCMOS18;  #Bank 24
NET "pex_mbist_n"    LOC = AD22 | IOSTANDARD = LVCMOS18;  #Bank 24
NET "pci_rst_n"      LOC = AC23 | IOSTANDARD = LVCMOS18;  #Bank 24


################################################################################
# MISC
################################################################################
# Serial RapidIO clock control
NET "sio_xo_*"       IOSTANDARD = LVCMOS25;
NET "sio_xo_scl"     LOC = G33;  #Bank 16
NET "sio_xo_sda"     LOC = B33;  #Bank 16
NET "sio_xo_intr"    LOC = F33;  #Bank 16


# Board revision info
NET "hw_rev[*]"      IOSTANDARD = LVCMOS15;
NET "cfg[*]"         IOSTANDARD = LVCMOS15;
NET "hw_rev[0]"      LOC = F18  | PULLUP;  #Bank 36
NET "hw_rev[1]"      LOC = E17  | PULLUP;  #Bank 36
NET "hw_rev[2]"      LOC = E18  | PULLUP;  #Bank 36
NET "hw_rev[3]"      LOC = D17  | PULLUP;  #Bank 36
NET "cfg[0]"         LOC = AJ21 | PULLUP;  #Bank 22
NET "cfg[1]"         LOC = AM22 | PULLUP;  #Bank 22
NET "cfg[2]"         LOC = AN22 | PULLUP;  #Bank 22
NET "cfg[3]"         LOC = AG20 | PULLUP;  #Bank 22


# Digital I/O
NET "dio_*"          IOSTANDARD = LVCMOS25;
NET "h_*"            IOSTANDARD = LVCMOS25;
NET "dio_p[0]"       LOC = AK9 ;  #Bank 34
NET "dio_p[1]"       LOC = AD9 ;  #Bank 34
NET "dio_p[2]"       LOC = AF9 ;  #Bank 34
NET "dio_p[3]"       LOC = AG8 ;  #Bank 34
NET "dio_p[4]"       LOC = F9  ;  #Bank 34
NET "dio_p[5]"       LOC = C10 ;  #Bank 34
NET "dio_p[6]"       LOC = C9  ;  #Bank 34
NET "dio_p[7]"       LOC = A9  ;  #Bank 34
NET "dio_p[8]"       LOC = E8  ;  #Bank 34
NET "dio_p[9]"       LOC = B8  ;  #Bank 34
NET "dio_p[10]"      LOC = L9  ;  #Bank 34
NET "dio_p[11]"      LOC = L10 ;  #Bank 34
NET "dio_p[12]"      LOC = AC10;  #Bank 34
NET "dio_p[13]"      LOC = AH9 ;  #Bank 34
NET "dio_p[14]"      LOC = AD10;  #Bank 34
NET "dio_p[15]"      LOC = AK8 ;  #Bank 34
NET "dio_p[16]"      LOC = AN9 ;  #Bank 34
NET "dio_p[17]"      LOC = A10 ;  #Bank 34
NET "dio_p[18]"      LOC = AN10;  #Bank 34
NET "dio_p[19]"      LOC = AJ29;  #Bank 12
NET "dio_p[20]"      LOC = AJ31;  #Bank 12
NET "dio_p[21]"      LOC = AF26;  #Bank 12
NET "dio_p[22]"      LOC = AF30;  #Bank 12
NET "dio_p[23]"      LOC = AG27;  #Bank 12
NET "dio_p[24]"      LOC = AN33;  #Bank 12
NET "dio_p[25]"      LOC = AH29;  #Bank 12
NET "dio_p[26]"      LOC = AL34;  #Bank 12
NET "dio_p[27]"      LOC = AF28;  #Bank 12
NET "dio_p[28]"      LOC = AJ34;  #Bank 12
NET "dio_p[29]"      LOC = AE28;  #Bank 12
NET "dio_p[30]"      LOC = AH33;  #Bank 12
NET "dio_p[31]"      LOC = AE27;  #Bank 12
NET "dio_n[0]"       LOC = AL9 ;  #Bank 34
NET "dio_n[1]"       LOC = AE9 ;  #Bank 34
NET "dio_n[2]"       LOC = AF10;  #Bank 34
NET "dio_n[3]"       LOC = AH8 ;  #Bank 34
NET "dio_n[4]"       LOC = F10 ;  #Bank 34
NET "dio_n[5]"       LOC = D10 ;  #Bank 34
NET "dio_n[6]"       LOC = D9  ;  #Bank 34
NET "dio_n[7]"       LOC = A8  ;  #Bank 34
NET "dio_n[8]"       LOC = E9  ;  #Bank 34
NET "dio_n[9]"       LOC = C8  ;  #Bank 34
NET "dio_n[10]"      LOC = K9  ;  #Bank 34
NET "dio_n[11]"      LOC = M10 ;  #Bank 34
NET "dio_n[12]"      LOC = AB10;  #Bank 34
NET "dio_n[13]"      LOC = AJ9 ;  #Bank 34
NET "dio_n[14]"      LOC = AC9 ;  #Bank 34
NET "dio_n[15]"      LOC = AL8 ;  #Bank 34
NET "dio_n[16]"      LOC = AP9 ;  #Bank 34
NET "dio_n[17]"      LOC = B10 ;  #Bank 34
NET "dio_n[18]"      LOC = AP10;  #Bank 34
NET "dio_n[19]"      LOC = AJ30;  #Bank 12
NET "dio_n[20]"      LOC = AJ32;  #Bank 12
NET "dio_n[21]"      LOC = AE26;  #Bank 12
NET "dio_n[22]"      LOC = AG30;  #Bank 12
NET "dio_n[23]"      LOC = AG28;  #Bank 12
NET "dio_n[24]"      LOC = AN34;  #Bank 12
NET "dio_n[25]"      LOC = AH30;  #Bank 12
NET "dio_n[26]"      LOC = AK34;  #Bank 12
NET "dio_n[27]"      LOC = AF29;  #Bank 12
NET "dio_n[28]"      LOC = AH34;  #Bank 12
NET "dio_n[29]"      LOC = AE29;  #Bank 12
NET "dio_n[30]"      LOC = AH32;  #Bank 12
NET "dio_n[31]"      LOC = AD27;  #Bank 12
NET "h_pps"          LOC = K27 ;  #Bank 16


# CPLD interface
NET "loader_*"       IOSTANDARD = LVCMOS18;
NET "loader_clk"     LOC = V23 ;  #Bank 24
NET "loader_cs"      LOC = J24 ;  #Bank 24
NET "loader_dio"     LOC = U23 ;  #Bank 24
NET "loader_bus[0]"  LOC = AF24;  #Bank 24
NET "loader_bus[1]"  LOC = AF25;  #Bank 24
NET "loader_bus[2]"  LOC = W24 ;  #Bank 24
NET "loader_bus[3]"  LOC = V24 ;  #Bank 24
NET "loader_bus[4]"  LOC = H24 ;  #Bank 24
NET "loader_bus[5]"  LOC = H25 ;  #Bank 24
NET "loader_bus[6]"  LOC = P24 ;  #Bank 24
NET "loader_bus[7]"  LOC = R24 ;  #Bank 24
NET "loader_bus[8]"  LOC = G23 ;  #Bank 24
NET "loader_bus[9]"  LOC = H23 ;  #Bank 24
NET "loader_bus[10]" LOC = N24 ;  #Bank 24
NET "loader_bus[11]" LOC = N23 ;  #Bank 24
NET "loader_bus[12]" LOC = F23 ;  #Bank 24
NET "loader_bus[13]" LOC = F24 ;  #Bank 24
NET "loader_bus[14]" LOC = L24 ;  #Bank 24
NET "loader_bus[15]" LOC = M23 ;  #Bank 24


# Calibration serial flash
NET "rom_*"          IOSTANDARD = LVCMOS15;
NET "rom_hold_n"     LOC = A31;  #Bank 25
NET "rom_sck"        LOC = B31;  #Bank 25
NET "rom_sdi"        LOC = H29;  #Bank 25
NET "rom_sdo"        LOC = C30;  #Bank 25
NET "rom_wp_n"       LOC = D30;  #Bank 25
NET "rom_cs_n"       LOC = B30;  #Bank 25


# Temperature monitoring
NET "temp_*"         IOSTANDARD = LVCMOS25;
NET "temp_smbclk"    LOC = J29;  #Bank 16
NET "temp_smbdat"    LOC = A33;  #Bank 16


# LED
NET "led*"           IOSTANDARD = LVCMOS25;
NET "led1"           LOC = D34;  #Bank 16
NET "led2"           LOC = J26;  #Bank 16
NET "led3"           LOC = J27;  #Bank 16


################################################################################
# Timing constraints                                                           #
################################################################################
NET "sys_clk_?" TNM_NET = "TNM_sys_clk_i";
TIMESPEC "TS_sys_clk_i" = PERIOD "TNM_sys_clk_i" 5 ns;

NET "ref_clk200" TNM = "TNM_ref_clk200";

NET "lpddr2_c?/mem_clk_div2" TNM = "TNM_lpddr2_mmcm_clk";
NET "lpddr2_c?/tb_clk" TNM = "TNM_lpddr2_tb_clk";

NET "sys_clk" TNM = "TNM_sys_clk";
TIMESPEC "TS_sys_clk" = PERIOD "TNM_sys_clk" 3.8 ns;

# multi-cycle paths
INST "*/inst_core/app_data_read*" TNM = "ctl_reg_grp_i";
TIMESPEC "TS_ctl_reg_i_mcycle" = FROM "FFS" TO "ctl_reg_grp_i" "TS_sys_clk" * 4;

INST "*/inst_core/app_wr_en*" TNM = "ctl_reg_wr_en";
TIMESPEC "TS_ctl_reg_en_o_mcycle" = FROM "ctl_reg_wr_en" TO "FFS" "TS_sys_clk" * 2;

INST "wb_master/wb_dat_i_d*" TNM = "TNM_wb_dat_i_d";
TIMESPEC "TS_wb_dat_i_mcycle" = FROM "FFS" TO "TNM_wb_dat_i_d" "TS_sys_clk" * 2;

INST "inst_crm/u_ff_wb_rst_o" TNM = "TNM_crm_rst";
INST "inst_crm/u_ff_frontend_rst" TNM = "TNM_crm_rst";
INST "inst_crm/u_ff_backend_rst" TNM = "TNM_crm_rst";
TIMESPEC "TS_MC_crm_rst" = FROM "TNM_crm_rst" TO "FFS" "TS_sys_clk" * 4;

# Timing ignore paths
TIMESPEC "TS_pex2sysclk_TIG" = FROM "CLK_USER_CLK" TO "TNM_sys_clk" TIG;
TIMESPEC "TS_sys2pexclk_TIG" = FROM "TNM_sys_clk" TO "CLK_USER_CLK" TIG;
TIMESPEC "TS_ref200_sysclk_TIG" = FROM "TNM_ref_clk200" TO "TNM_sys_clk" TIG;
TIMESPEC "TS_sysclk_ref200_TIG" = FROM "TNM_sys_clk" TO "TNM_ref_clk200" TIG;
TIMESPEC "TS_pddr2_sys2mmcm_clk_TIG" = FROM "TNM_sys_clk" TO "TNM_lpddr2_mmcm_clk" TIG;
TIMESPEC "TS_pddr2_mmcm2sys_clk_TIG" = FROM "TNM_lpddr2_mmcm_clk" TO "TNM_sys_clk" TIG;
TIMESPEC "TS_lpddr2_tb2sys_clk_TIG" = FROM "TNM_lpddr2_tb_clk" TO "TNM_sys_clk" TIG;
TIMESPEC "TS_lpddr2_sys2tb_clk_TIG" = FROM "TNM_sys_clk" TO "TNM_lpddr2_tb_clk" TIG;
TIMESPEC "TS_lpddr2_tb2mmcm_clk_TIG" = FROM "TNM_lpddr2_tb_clk" TO "TNM_lpddr2_mmcm_clk" TIG;
TIMESPEC "TS_lpddr2_mmcm2tb_clk_TIG" = FROM "TNM_lpddr2_mmcm_clk" TO "TNM_lpddr2_tb_clk" TIG;
TIMESPEC "TS_lpddr2_mmcm2ref_clk_TIG" = FROM "TNM_lpddr2_mmcm_clk" TO "TNM_ref_clk200" TIG;
TIMESPEC "TS_SYS2DAC_TIG" = FROM "TNM_sys_clk" TO "TNM_DAC_CLK" TIG;
TIMESPEC "TS_DAC2SYS_TIG" = FROM "TNM_DAC_CLK" TO "TNM_sys_clk" TIG;
TIMESPEC "TS_SYS2ADC_TIG" = FROM "TNM_sys_clk" TO "TNM_ADC_CLK" TIG;
TIMESPEC "TS_ADC2SYS_TIG" = FROM "TNM_ADC_CLK" TO "TNM_sys_clk" TIG;
TIMESPEC "TS_SYS2REF_ADC_TIG" = FROM "TNM_sys_clk" TO "TNM_REF_ADC_CLK" TIG;
TIMESPEC "TS_REF_ADC2SYS_TIG" = FROM "TNM_REF_ADC_CLK" TO "TNM_sys_clk" TIG;


################################################################################
# X6-1000M AFE (VCXO, PLL, External Sync, ADC, and DAC) interface constraints
# I/O STANDARDS, PIN LOC, and timing Constraints
################################################################################

# VCXO interface
NET "pll_vcxo_en"    LOC = E33 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_vcxo_scl"   LOC = G30 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_vcxo_sda"   LOC = F30 | IOSTANDARD = LVCMOS25;  #Bank 16


# PLL interface
NET "pll_ext_clk_sel" LOC = C32 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_pwr_down_n" LOC = H30 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_reset_n"    LOC = G31 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_lock"       LOC = C33 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_spi_le"     LOC = C34 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_spi_miso"   LOC = B34 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_spi_mosi"   LOC = K28 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_spi_sclk"   LOC = E32 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "ref_adc_clk_p"  LOC = L23 | IOSTANDARD = DIFF_SSTL18_I;  #Bank 24
NET "ref_adc_clk_n"  LOC = M22 | IOSTANDARD = DIFF_SSTL18_I;  #Bank 24
NET "ref_dac_clk_p"  LOC = J9  | IOSTANDARD = LVDS_25;  #Bank 34
NET "ref_dac_clk_n"  LOC = H9  | IOSTANDARD = LVDS_25;  #Bank 34


# External Sync
NET "ext_sync_sel"    LOC = B32  | IOSTANDARD = LVCMOS25;  #Bank 16
NET "adc0_ext_sync_p" LOC = AA34 | IOSTANDARD = LVPECL_25;  #Bank 13
NET "adc0_ext_sync_n" LOC = AA33 | IOSTANDARD = LVPECL_25;  #Bank 13
NET "adc1_ext_sync_p" LOC = AC33 | IOSTANDARD = LVPECL_25;  #Bank 13
NET "adc1_ext_sync_n" LOC = AB33 | IOSTANDARD = LVPECL_25;  #Bank 13
NET "dac0_ext_sync_p" LOC = K33  | IOSTANDARD = LVPECL_25;  #Bank 16
NET "dac0_ext_sync_n" LOC = J34  | IOSTANDARD = LVPECL_25;  #Bank 16
NET "dac1_ext_sync_p" LOC = K34  | IOSTANDARD = LVPECL_25;  #Bank 15
NET "dac1_ext_sync_n" LOC = L34  | IOSTANDARD = LVPECL_25;  #Bank 15


# ADC SPI interface and control
NET "adc?_spi_*"     IOSTANDARD = "LVCMOS18";
NET "adc0_spi_sclk"  LOC = AE23;  #Bank 24
NET "adc0_spi_sdenb" LOC = AE24;  #Bank 24
NET "adc0_spi_sdio"  LOC = AD24;  #Bank 24
NET "adc1_spi_sclk"  LOC = AF23;  #Bank 24
NET "adc1_spi_sdenb" LOC = AG23;  #Bank 24
NET "adc1_spi_sdio"  LOC = AE22;  #Bank 24


# ADC interface (data) constraints
NET "adc?_da_dclk_?" IOSTANDARD = "LVDS_25";
NET "adc?_da_?[*]"   IOSTANDARD = "LVDS_25";
NET "adc?_ovra_?"    IOSTANDARD = "LVDS_25";
NET "adc?_reset_?"   IOSTANDARD = "LVDS_25";

# ADC0 interface
NET "adc0_da_dclk_p" LOC = AE33;  #Bank 13
NET "adc0_da_dclk_n" LOC = AF33;  #Bank 13
NET "adc0_ovra_p"    LOC = Y32 ;  #Bank 14
NET "adc0_ovra_n"    LOC = Y31 ;  #Bank 14
NET "adc0_reset_p"   LOC = Y33 ;  #Bank 14
NET "adc0_reset_n"   LOC = Y34 ;  #Bank 14
NET "adc0_da_p[0]"   LOC = W31 ;  #Bank 14
NET "adc0_da_n[0]"   LOC = W32 ;  #Bank 14
NET "adc0_da_p[1]"   LOC = W29 ;  #Bank 14
NET "adc0_da_n[1]"   LOC = Y29 ;  #Bank 14
NET "adc0_da_p[2]"   LOC = Y28 ;  #Bank 14
NET "adc0_da_n[2]"   LOC = Y27 ;  #Bank 14
NET "adc0_da_p[3]"   LOC = AB25;  #Bank 13
NET "adc0_da_n[3]"   LOC = AC25;  #Bank 13
NET "adc0_da_p[4]"   LOC = AB27;  #Bank 13
NET "adc0_da_n[4]"   LOC = AC27;  #Bank 13
NET "adc0_da_p[5]"   LOC = AA25;  #Bank 13
NET "adc0_da_n[5]"   LOC = Y26 ;  #Bank 13
NET "adc0_da_p[6]"   LOC = AA26;  #Bank 13
NET "adc0_da_n[6]"   LOC = AB26;  #Bank 13
NET "adc0_da_p[7]"   LOC = AA28;  #Bank 13
NET "adc0_da_n[7]"   LOC = AA29;  #Bank 13
NET "adc0_da_p[8]"   LOC = AA30;  #Bank 13
NET "adc0_da_n[8]"   LOC = AA31;  #Bank 13
NET "adc0_da_p[9]"   LOC = AB30;  #Bank 13
NET "adc0_da_n[9]"   LOC = AB31;  #Bank 13
NET "adc0_da_p[10]"  LOC = AB32;  #Bank 13
NET "adc0_da_n[10]"  LOC = AC32;  #Bank 13
NET "adc0_da_p[11]"  LOC = AD34;  #Bank 13
NET "adc0_da_n[11]"  LOC = AC34;  #Bank 13


# ADC1 interface
NET "adc1_da_dclk_p" LOC = AD30;  #Bank 13
NET "adc1_da_dclk_n" LOC = AC30;  #Bank 13
NET "adc1_ovra_p"    LOC = AG33;  #Bank 13
NET "adc1_ovra_n"    LOC = AG32;  #Bank 13
NET "adc1_reset_p"   LOC = AE34;  #Bank 13
NET "adc1_reset_n"   LOC = AF34;  #Bank 13
NET "adc1_da_p[0]"   LOC = AD32;  #Bank 13
NET "adc1_da_n[0]"   LOC = AE32;  #Bank 13
NET "adc1_da_p[1]"   LOC = AE31;  #Bank 13
NET "adc1_da_n[1]"   LOC = AD31;  #Bank 13
NET "adc1_da_p[2]"   LOC = AG31;  #Bank 13
NET "adc1_da_n[2]"   LOC = AF31;  #Bank 13
NET "adc1_da_p[3]"   LOC = AD29;  #Bank 13
NET "adc1_da_n[3]"   LOC = AC29;  #Bank 13
NET "adc1_da_p[4]"   LOC = AB28;  #Bank 13
NET "adc1_da_n[4]"   LOC = AC28;  #Bank 13
NET "adc1_da_p[5]"   LOC = AP32;  #Bank 12
NET "adc1_da_n[5]"   LOC = AP33;  #Bank 12
NET "adc1_da_p[6]"   LOC = AN32;  #Bank 12
NET "adc1_da_n[6]"   LOC = AM32;  #Bank 12
NET "adc1_da_p[7]"   LOC = AL30;  #Bank 12
NET "adc1_da_n[7]"   LOC = AM31;  #Bank 12
NET "adc1_da_p[8]"   LOC = AL31;  #Bank 12
NET "adc1_da_n[8]"   LOC = AK31;  #Bank 12
NET "adc1_da_p[9]"   LOC = AM33;  #Bank 12
NET "adc1_da_n[9]"   LOC = AL33;  #Bank 12
NET "adc1_da_p[10]"  LOC = AK33;  #Bank 12
NET "adc1_da_n[10]"  LOC = AK32;  #Bank 12
NET "adc1_da_p[11]"  LOC = AD25;  #Bank 12
NET "adc1_da_n[11]"  LOC = AD26;  #Bank 12



# DAC SPI interface and control
NET "dac_dig_en"     LOC = K26 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "dac?_resetb"    IOSTANDARD = "LVCMOS15";
NET "dac?_spi_*"     IOSTANDARD = "LVCMOS18";
NET "dac0_resetb"    LOC = E16 ;  #Bank 36
NET "dac1_resetb"    LOC = C15 ;  #Bank 36
NET "dac0_spi_sclk"  LOC = T24 ;  #Bank 24
NET "dac0_spi_sdenb" LOC = Y24 ;  #Bank 24
NET "dac0_spi_sdio"  LOC = T23 ;  #Bank 24
NET "dac0_spi_sdo"   LOC = J25 ;  #Bank 24
NET "dac1_spi_sclk"  LOC = AB23;  #Bank 24
NET "dac1_spi_sdenb" LOC = AC24;  #Bank 24
NET "dac1_spi_sdio"  LOC = AA24;  #Bank 24
NET "dac1_spi_sdo"   LOC = AA23;  #Bank 24


# DAC interface (data) constraints
NET "dac?_clk_in_?"  IOSTANDARD = "LVDS_25";
NET "dac?_dclk_?"    IOSTANDARD = "LVDS_25";
NET "dac?_data_?[*]" IOSTANDARD = "LVDS_25";
NET "dac?_sync*"     IOSTANDARD = "LVDS_25";
NET "dac?_dig_?"     IOSTANDARD = "LVDS_25";

# DAC0 interface
NET "dac0_clk_in_p"   LOC = N33;  #Bank 15
NET "dac0_clk_in_n"   LOC = M33;  #Bank 15
NET "dac0_dclk_p"     LOC = N28;  #Bank 15
NET "dac0_dclk_n"     LOC = N29;  #Bank 15
NET "dac0_data_p[0]"  LOC = N34;  #Bank 15
NET "dac0_data_n[0]"  LOC = P34;  #Bank 15
NET "dac0_data_p[1]"  LOC = N32;  #Bank 15
NET "dac0_data_n[1]"  LOC = P32;  #Bank 15
NET "dac0_data_p[2]"  LOC = R31;  #Bank 15
NET "dac0_data_n[2]"  LOC = R32;  #Bank 15
NET "dac0_data_p[3]"  LOC = P31;  #Bank 15
NET "dac0_data_n[3]"  LOC = P30;  #Bank 15
NET "dac0_data_p[4]"  LOC = L33;  #Bank 15
NET "dac0_data_n[4]"  LOC = M32;  #Bank 15
NET "dac0_data_p[5]"  LOC = P25;  #Bank 15
NET "dac0_data_n[5]"  LOC = P26;  #Bank 15
NET "dac0_data_p[6]"  LOC = N27;  #Bank 15
NET "dac0_data_n[6]"  LOC = P27;  #Bank 15
NET "dac0_data_p[7]"  LOC = M30;  #Bank 15
NET "dac0_data_n[7]"  LOC = N30;  #Bank 15
NET "dac0_data_p[8]"  LOC = L28;  #Bank 15
NET "dac0_data_n[8]"  LOC = M28;  #Bank 15
NET "dac0_data_p[9]"  LOC = L29;  #Bank 15
NET "dac0_data_n[9]"  LOC = L30;  #Bank 15
NET "dac0_data_p[10]" LOC = M31;  #Bank 15
NET "dac0_data_n[10]" LOC = L31;  #Bank 15
NET "dac0_data_p[11]" LOC = F31;  #Bank 16
NET "dac0_data_n[11]" LOC = E31;  #Bank 16
NET "dac0_data_p[12]" LOC = E34;  #Bank 16
NET "dac0_data_n[12]" LOC = F34;  #Bank 16
NET "dac0_data_p[13]" LOC = D31;  #Bank 16
NET "dac0_data_n[13]" LOC = D32;  #Bank 16
NET "dac0_data_p[14]" LOC = G32;  #Bank 16
NET "dac0_data_n[14]" LOC = H32;  #Bank 16
NET "dac0_data_p[15]" LOC = J30;  #Bank 16
NET "dac0_data_n[15]" LOC = K29;  #Bank 16
NET "dac0_sync_p"     LOC = L25;  #Bank 16
NET "dac0_sync_n"     LOC = L26;  #Bank 16
NET "dac0_sync2_p"    LOC = J31;  #Bank 16
NET "dac0_sync2_n"    LOC = J32;  #Bank 16
NET "dac0_dig_p"      LOC = H34;  #Bank 16
NET "dac0_dig_n"      LOC = H33;  #Bank 16


# DAC1 interface
NET "dac1_clk_in_p"   LOC = V34;  #Bank 14
NET "dac1_clk_in_n"   LOC = W34;  #Bank 14
NET "dac1_dclk_p"     LOC = V30;  #Bank 14
NET "dac1_dclk_n"     LOC = W30;  #Bank 14
NET "dac1_data_p[0]"  LOC = V32;  #Bank 14
NET "dac1_data_n[0]"  LOC = V33;  #Bank 14
NET "dac1_data_p[1]"  LOC = U31;  #Bank 14
NET "dac1_data_n[1]"  LOC = U30;  #Bank 14
NET "dac1_data_p[2]"  LOC = W27;  #Bank 14
NET "dac1_data_n[2]"  LOC = W26;  #Bank 14
NET "dac1_data_p[3]"  LOC = W25;  #Bank 14
NET "dac1_data_n[3]"  LOC = V25;  #Bank 14
NET "dac1_data_p[4]"  LOC = U25;  #Bank 14
NET "dac1_data_n[4]"  LOC = T25;  #Bank 14
NET "dac1_data_p[5]"  LOC = U26;  #Bank 14
NET "dac1_data_n[5]"  LOC = U27;  #Bank 14
NET "dac1_data_p[6]"  LOC = V28;  #Bank 14
NET "dac1_data_n[6]"  LOC = V27;  #Bank 14
NET "dac1_data_p[7]"  LOC = U28;  #Bank 14
NET "dac1_data_n[7]"  LOC = V29;  #Bank 14
NET "dac1_data_p[8]"  LOC = T28;  #Bank 14
NET "dac1_data_n[8]"  LOC = T29;  #Bank 14
NET "dac1_data_p[9]"  LOC = T30;  #Bank 14
NET "dac1_data_n[9]"  LOC = T31;  #Bank 14
NET "dac1_data_p[10]" LOC = U33;  #Bank 14
NET "dac1_data_n[10]" LOC = U32;  #Bank 14
NET "dac1_data_p[11]" LOC = R33;  #Bank 14
NET "dac1_data_n[11]" LOC = R34;  #Bank 14
NET "dac1_data_p[12]" LOC = T33;  #Bank 14
NET "dac1_data_n[12]" LOC = T34;  #Bank 14
NET "dac1_data_p[13]" LOC = P29;  #Bank 15
NET "dac1_data_n[13]" LOC = R29;  #Bank 15
NET "dac1_data_p[14]" LOC = R28;  #Bank 15
NET "dac1_data_n[14]" LOC = R27;  #Bank 15
NET "dac1_data_p[15]" LOC = R26;  #Bank 15
NET "dac1_data_n[15]" LOC = T26;  #Bank 15
NET "dac1_sync_p"     LOC = N25;  #Bank 15
NET "dac1_sync_n"     LOC = M25;  #Bank 15
NET "dac1_sync2_p"    LOC = M26;  #Bank 15
NET "dac1_sync2_n"    LOC = M27;  #Bank 15
NET "dac1_dig_p"      LOC = K32;  #Bank 15
NET "dac1_dig_n"      LOC = K31;  #Bank 15


################################################################################
# Timing constraints                                                           #
################################################################################
NET "dac?_clk_in_?" TNM_NET = "TNM_DAC_CLK_IN";
TIMESPEC "TS_DAC_CLK_IN" = PERIOD "TNM_DAC_CLK_IN" 2 ns;   #500MHz
NET "inst_afe_top/inst_dac?_intf/dac_clk_bufr" TNM_NET = "TNM_DAC_CLK";

NET "ref_dac_clk_?" TNM_NET = "TNM_REF_DAC_CLK";
TIMESPEC "TS_REF_DAC_CLK" = PERIOD "TNM_REF_DAC_CLK" 4 ns; #250MHz

NET "adc?_da_dclk_?" TNM_NET = "TNM_ADC_DCLK";
TIMESPEC "TS_ADC_DCLK" = PERIOD "TNM_ADC_DCLK" 2 ns;  #500MHz
NET "inst_afe_top/inst_adc?/adc_dclk_div2" TNM_NET = "TNM_ADC_CLK";

NET "ref_adc_clk_?" TNM_NET = "TNM_REF_ADC_CLK";
TIMESPEC "TS_REF_ADC_CLK" = PERIOD "TNM_REF_ADC_CLK" 4 ns; #250MHz


################################################################################
# FPGA part dependent area constraints                                         #
# SX315T                                                                       #
################################################################################
INST "inst_afe_top/inst_adc0/inst_adc_intf/inst_adc_phy_top/inst_ads5400_phy/inst_idelayctrl" LOC = "IDELAYCTRL_X0Y1";
INST "inst_afe_top/inst_adc1/inst_adc_intf/inst_adc_phy_top/inst_ads5400_phy/inst_idelayctrl" LOC = "IDELAYCTRL_X0Y0";
INST "inst_afe_top/inst_dac0_intf/inst_dac_intf/dac5682z_phy_inst/idelayctrl_inst" LOC = "IDELAYCTRL_X0Y3";
INST "inst_afe_top/inst_dac1_intf/inst_dac_intf/dac5682z_phy_inst/idelayctrl_inst" LOC = "IDELAYCTRL_X0Y2";
INST "inst_afe_top/inst_idelayctrl" LOC = "IDELAYCTRL_X0Y4";

INST "inst_afe_top/inst_adc0" AREA_GROUP = "AG_adc0_intf";
AREA_GROUP "AG_adc0_intf" RANGE = SLICE_X0Y60:SLICE_X23Y99;
AREA_GROUP "AG_adc0_intf" RANGE = RAMB18_X0Y24:RAMB18_X1Y39;
AREA_GROUP "AG_adc0_intf" RANGE = RAMB36_X0Y12:RAMB36_X1Y19;

INST "inst_afe_top/inst_adc1" AREA_GROUP = "AG_adc1_intf";
AREA_GROUP "AG_adc1_intf" RANGE = SLICE_X0Y20:SLICE_X23Y59;
AREA_GROUP "AG_adc1_intf" RANGE = RAMB18_X0Y8:RAMB18_X1Y23;
AREA_GROUP "AG_adc1_intf" RANGE = RAMB36_X0Y4:RAMB36_X1Y11;

INST "inst_afe_top/inst_dac0_intf" AREA_GROUP = "AG_dac0_intf";
AREA_GROUP "AG_dac0_intf" RANGE = SLICE_X0Y140:SLICE_X23Y179;
AREA_GROUP "AG_dac0_intf" RANGE = RAMB36_X0Y28:RAMB36_X1Y35;
AREA_GROUP "AG_dac0_intf" RANGE = DSP48_X0Y56:DSP48_X1Y71;

INST "inst_afe_top/inst_dac1_intf" AREA_GROUP = "AG_dac1_intf";
AREA_GROUP "AG_dac1_intf" RANGE = SLICE_X0Y100:SLICE_X23Y139;
AREA_GROUP "AG_dac1_intf" RANGE = RAMB36_X0Y20:RAMB36_X1Y27;
AREA_GROUP "AG_dac1_intf" RANGE = DSP48_X0Y40:DSP48_X1Y55;

INST "inst_vmvr" AREA_GROUP = "AG_vmvr";
AREA_GROUP "AG_vmvr" RANGE = SLICE_X108Y80:SLICE_X123Y119;
AREA_GROUP "AG_vmvr" RANGE = RAMB18_X7Y32:RAMB18_X7Y47;
AREA_GROUP "AG_vmvr" RANGE = RAMB36_X7Y16:RAMB36_X7Y23;

INST "inst_router" AREA_GROUP = "AG_router";
AREA_GROUP "AG_router" RANGE = SLICE_X52Y40:SLICE_X67Y79;

INST "inst_deframer" AREA_GROUP = "AG_deframer";

INST "inst_packetizer_top/inst_packetizer" AREA_GROUP = "AG_packetizer";

INST "lpbk_fifo" AREA_GROUP = "AG_lpbk_fifo";
AREA_GROUP "AG_lpbk_fifo" RANGE = RAMB36_X6Y16:RAMB36_X6Y19;

################################################################################
# PCIe constraints                                                             #
################################################################################

###############################################################################
# Pinout and Related I/O Constraints
###############################################################################

#
# SYS reset (input) signal.  The sys_reset_n signal should be
# obtained from the PCI Express interface if possible.  For
# slot based form factors, a system reset signal is usually
# present on the connector.  For cable based form factors, a
# system reset signal may not be available.  In this case, the
# system reset signal must be generated locally by some form of
# supervisory circuit.  You may change the IOSTANDARD and LOC
# to suit your requirements and VCCO voltage banking rules.
#

NET "inst_pcie/pex_rst_n" TIG;
NET "inst_pcie/pex_rst_n" PULLUP | NODELAY ;

#
#
# SYS clock 250 MHz (input) signal. The sys_clk_p and sys_clk_n
# signals are the PCI Express reference clock. Virtex-6 GT
# Transceiver architecture requires the use of a dedicated clock
# resources (FPGA input pins) associated with each GT Transceiver.
# To use these pins an IBUFDS primitive (refclk_ibuf) is
# instantiated in user's design.
# Please refer to the Virtex-6 GT Transceiver User Guide 
# (UG) for guidelines regarding clock resource selection.
#

NET "inst_pcie/pex_ref_clk_n" LOC = V5;
NET "inst_pcie/pex_ref_clk_p" LOC = V6;
INST "inst_pcie/refclk_ibuf" LOC = IBUFDS_GTXE1_X0Y4;

#
# Transceiver instance placement.  This constraint selects the
# transceivers to be used, which also dictates the pinout for the
# transmit and receive differential pairs.  Please refer to the
# Virtex-6 GT Transceiver User Guide (UG) for more information.
#

# PCIe Lane 0
INST "inst_pcie/ep/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[0].GTX" LOC = GTXE1_X0Y8;
# PCIe Lane 1
INST "inst_pcie/ep/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[1].GTX" LOC = GTXE1_X0Y9;
# PCIe Lane 2
INST "inst_pcie/ep/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[2].GTX" LOC = GTXE1_X0Y10;
# PCIe Lane 3
INST "inst_pcie/ep/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[3].GTX" LOC = GTXE1_X0Y11;


# PCI Express Block placement.
INST "inst_pcie/ep/pcie_2_0_i/pcie_block_i" LOC = PCIE_X0Y1;

###############################################################################
# Timing Constraints
###############################################################################

NET "inst_pcie/pex_ref_clk_p" TNM_NET = "PEX_REFCLK" ;
NET "inst_pcie/ep/pcie_clocking_i/clk_125" TNM_NET = "CLK_USER_CLK" ;

TIMESPEC "TS_PEX_REFCLK" = PERIOD "PEX_REFCLK" 250 MHz HIGH 50 % ;
TIMESPEC "TS_PEX_USRCLK" = PERIOD "CLK_USER_CLK" TS_PEX_REFCLK/2 HIGH 50 % PRIORITY 1;


PIN "inst_pcie/trn_reset_n_i.CLR" TIG ;
PIN "inst_pcie/ep/pcie_clocking_i/mmcm_adv_i.RST" TIG ;

INST "inst_pcie/ep/trn_reset_n_i" TNM = "TNM_pex_trn_rst";
TIMESPEC "TS_PEX_RESETN" = FROM FFS(*) TO "TNM_pex_trn_rst" 8 ns;

# busmaster reset is multi-cycle
INST "inst_pcie/dma/pcie_regs/bm_rst_int" TNM = "bm_rst_grp";
TIMESPEC TS_PEX_mc_bm_rst = FROM "bm_rst_grp" TO FFS TS_PEX_USRCLK / 2;

###############################################################################
# Area groups
###############################################################################

INST "inst_pcie/ep" AREA_GROUP = "AG_pex_core" ;
AREA_GROUP "AG_pex_core" RANGE=SLICE_X144Y81:SLICE_X161Y159;
AREA_GROUP "AG_pex_core" RANGE=RAMB18_X7Y40:RAMB18_X8Y63;
AREA_GROUP "AG_pex_core" RANGE=RAMB36_X7Y20:RAMB36_X8Y31;

INST "inst_pcie/dma" AREA_GROUP = "AG_pex_dma";
AREA_GROUP "AG_pex_dma" RANGE=SLICE_X116Y80:SLICE_X143Y159;
AREA_GROUP "AG_pex_dma" RANGE=RAMB18_X5Y32:RAMB18_X7Y63;
AREA_GROUP "AG_pex_dma" RANGE=RAMB36_X5Y16:RAMB36_X7Y31;

INST "inst_pcie/dma/xfer_machine/posted_pkt_gen/posted_fifo" AREA_GROUP = "AG_pex_posted";
AREA_GROUP "AG_pex_posted" RANGE=RAMB36_X6Y26:RAMB36_X6Y27;
AREA_GROUP "AG_pex_posted" RANGE=RAMB18_X6Y52:RAMB18_X6Y55;


################################################################################
# LPDDR2 interface controller 0 constraints
# Timing, I/O STANDARDS, and PIN LOC Constraints
################################################################################

############################################################################
# Timing constraints                                                       #
############################################################################
# Constrain BUFR clocks used to synchronize data from IOB to fabric logic
# Note that ISE cannot infer this from other PERIOD constraints because
# of the use of OSERDES blocks in the BUFR clock generation path
NET "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/clk_rsync[?]" TNM_NET = "TNM_C0_clk_rsync";
TIMESPEC "TS_C0_clk_rsync" = PERIOD "TNM_C0_clk_rsync" 5 ns;
############################################################################

################################################################################
# I/O STANDARDS
################################################################################
NET "lpddr2_c0_dq[*]"                            IOSTANDARD = SSTL15_T_DCI;
NET "lpddr2_c0_ca[*]"                            IOSTANDARD = SSTL15;
NET "lpddr2_c0_cs_n[*]"                          IOSTANDARD = SSTL15;
NET "lpddr2_c0_cke[*]"                           IOSTANDARD = LVCMOS15;
NET "lpddr2_c0_dm[*]"                            IOSTANDARD = SSTL15;
NET "lpddr2_c0_dqs_p[*]"                         IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "lpddr2_c0_dqs_n[*]"                         IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "lpddr2_c0_ck_p[*]"                          IOSTANDARD = DIFF_SSTL15;
NET "lpddr2_c0_ck_n[*]"                          IOSTANDARD = DIFF_SSTL15;

##################################################################################
# Location Constraints
##################################################################################
NET "lpddr2_c0_dq[0]"                            LOC = "D16";        #Bank 36
NET "lpddr2_c0_dq[1]"                            LOC = "J17";        #Bank 36
NET "lpddr2_c0_dq[2]"                            LOC = "A15";        #Bank 36
NET "lpddr2_c0_dq[3]"                            LOC = "B15";        #Bank 36
NET "lpddr2_c0_dq[4]"                            LOC = "M16";        #Bank 36
NET "lpddr2_c0_dq[5]"                            LOC = "M15";        #Bank 36
NET "lpddr2_c0_dq[6]"                            LOC = "H15";        #Bank 36
NET "lpddr2_c0_dq[7]"                            LOC = "J15";        #Bank 36
NET "lpddr2_c0_dq[8]"                            LOC = "G13";        #Bank 35
NET "lpddr2_c0_dq[9]"                            LOC = "H14";        #Bank 35
NET "lpddr2_c0_dq[10]"                           LOC = "D14";        #Bank 35
NET "lpddr2_c0_dq[11]"                           LOC = "C14";        #Bank 35
NET "lpddr2_c0_dq[12]"                           LOC = "A13";        #Bank 35
NET "lpddr2_c0_dq[13]"                           LOC = "A14";        #Bank 35
NET "lpddr2_c0_dq[14]"                           LOC = "G12";        #Bank 35
NET "lpddr2_c0_dq[15]"                           LOC = "F14";        #Bank 35
NET "lpddr2_c0_dq[16]"                           LOC = "H10";        #Bank 35
NET "lpddr2_c0_dq[17]"                           LOC = "G10";        #Bank 35
NET "lpddr2_c0_dq[18]"                           LOC = "B12";        #Bank 35
NET "lpddr2_c0_dq[19]"                           LOC = "B13";        #Bank 35
NET "lpddr2_c0_dq[20]"                           LOC = "M13";        #Bank 35
NET "lpddr2_c0_dq[21]"                           LOC = "M11";        #Bank 35
NET "lpddr2_c0_dq[22]"                           LOC = "C12";        #Bank 35
NET "lpddr2_c0_dq[23]"                           LOC = "H12";        #Bank 35
NET "lpddr2_c0_dq[24]"                           LOC = "A11";        #Bank 35
NET "lpddr2_c0_dq[25]"                           LOC = "B11";        #Bank 35
NET "lpddr2_c0_dq[26]"                           LOC = "J11";        #Bank 35
NET "lpddr2_c0_dq[27]"                           LOC = "E13";        #Bank 35
NET "lpddr2_c0_dq[28]"                           LOC = "F13";        #Bank 35
NET "lpddr2_c0_dq[29]"                           LOC = "K13";        #Bank 35
NET "lpddr2_c0_dq[30]"                           LOC = "K12";        #Bank 35
NET "lpddr2_c0_dq[31]"                           LOC = "D11";        #Bank 35
NET "lpddr2_c0_ca[9]"                            LOC = "K17";        #Bank 36
NET "lpddr2_c0_ca[8]"                            LOC = "H17";        #Bank 36
NET "lpddr2_c0_ca[7]"                            LOC = "G17";        #Bank 36
NET "lpddr2_c0_ca[6]"                            LOC = "L19";        #Bank 36
NET "lpddr2_c0_ca[5]"                            LOC = "C17";        #Bank 36
NET "lpddr2_c0_ca[4]"                            LOC = "B17";        #Bank 36
NET "lpddr2_c0_ca[3]"                            LOC = "K19";        #Bank 36
NET "lpddr2_c0_ca[2]"                            LOC = "J19";        #Bank 36
NET "lpddr2_c0_ca[1]"                            LOC = "M18";        #Bank 36
NET "lpddr2_c0_ca[0]"                            LOC = "M17";        #Bank 36
NET "lpddr2_c0_cs_n[1]"                          LOC = "H18";        #Bank 36
NET "lpddr2_c0_cs_n[0]"                          LOC = "L14";        #Bank 36
NET "lpddr2_c0_cke[1]"                           LOC = "A16";        #Bank 36
NET "lpddr2_c0_cke[0]"                           LOC = "B16";        #Bank 36
NET "lpddr2_c0_dm[0]"                            LOC = "D15";        #Bank 36
NET "lpddr2_c0_dm[1]"                            LOC = "E14";        #Bank 35
NET "lpddr2_c0_dm[2]"                            LOC = "J12";        #Bank 35
NET "lpddr2_c0_dm[3]"                            LOC = "E11";        #Bank 35
NET "lpddr2_c0_dqs_p[0]"                         LOC = "G15";        #Bank 36
NET "lpddr2_c0_dqs_n[0]"                         LOC = "F15";        #Bank 36
NET "lpddr2_c0_dqs_p[1]"                         LOC = "G11";        #Bank 35
NET "lpddr2_c0_dqs_n[1]"                         LOC = "F11";        #Bank 35
NET "lpddr2_c0_dqs_p[2]"                         LOC = "K14";        #Bank 35
NET "lpddr2_c0_dqs_n[2]"                         LOC = "J14";        #Bank 35
NET "lpddr2_c0_dqs_p[3]"                         LOC = "D12";        #Bank 35
NET "lpddr2_c0_dqs_n[3]"                         LOC = "E12";        #Bank 35
NET "lpddr2_c0_ck_p[0]"                          LOC = "K16";        #Bank 36
NET "lpddr2_c0_ck_n[0]"                          LOC = "L16";        #Bank 36

##################################################################################################
##The following locations must be reserved and cannot be used for external I/O because          ##
##the I/O elements associated with these sites (IODELAY, OSERDES, and associated routing)       ##
##are used to generate and route the clocks necessary for read data capture and synchronization ##
##to the core clock domain. These pins should not be routed out on the user's PCB               ##
##################################################################################################

##################################################################################################
##The logic of this pin is used internally to drive a BUFR in the column. This chosen pin must  ##
##be a clock pin capable of spanning to all of the banks containing data bytes in the particular##
##column. That is, all byte groups must be within +/- 1 bank of this pin. This pin cannot be    ##
##used for other functions and should not be connected externally. If a different pin is chosen,##
##he corresponding LOC constraint must also be changed.                                         ##
##################################################################################################
CONFIG PROHIBIT = G18;

######################################################################################
##Place RSYNC OSERDES and IODELAY:                                                  ##
######################################################################################
##Site: G18 -- Bank 36
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_oserdes_rsync" LOC = "OLOGIC_X2Y183";
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_odelay_rsync"  LOC = "IODELAY_X2Y183";
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_bufr_rsync"    LOC = "BUFR_X2Y9";

##################################################################################################
##The logic of this pin is used internally to drive a BUFIO for the byte group. Any clock       ##
##capable pin in the same bank as the data byte group (DQS, DQ, DM if used) can be used for     ##
##this pin. This pin cannot be used for other functions and should not be connected externally. ##
##If a different pin is chosen, the corresponding LOC constraint must also be changed.          ##
##################################################################################################
CONFIG PROHIBIT = L15,L13,M12,C13;

######################################################################################
##Place CPT OSERDES and IODELAY:                                                    ##
######################################################################################
##Site: L15 -- Bank 36
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[0].u_oserdes_cpt" LOC = "OLOGIC_X2Y179";
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[0].u_odelay_cpt"  LOC = "IODELAY_X2Y179";

##Site: L13 -- Bank 35
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[1].u_oserdes_cpt" LOC = "OLOGIC_X2Y141";
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[1].u_odelay_cpt"  LOC = "IODELAY_X2Y141";

##Site: M12 -- Bank 35
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[2].u_oserdes_cpt" LOC = "OLOGIC_X2Y139";
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[2].u_odelay_cpt"  LOC = "IODELAY_X2Y139";

##Site: C13 -- Bank 35
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[3].u_oserdes_cpt" LOC = "OLOGIC_X2Y137";
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[3].u_odelay_cpt"  LOC = "IODELAY_X2Y137";

######################################################################################
## MMCM_ADV CONSTRAINTS                                                             ##
######################################################################################
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_infrastructure/u_mmcm_adv" LOC = "MMCM_ADV_X0Y9"; #Banks 16, 26, 36

###############################################################################
# IODELAY_GROUP constraints
###############################################################################
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_idelayctrl" IODELAY_GROUP=LPDDR2_C0;
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_clock_io/gen_ck[*].u_phy_ck_iob_fb/u_iodelay_ck_p" IODELAY_GROUP=LPDDR2_C0;
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_control_io/gen_cke[*].u_iodelay_cke" IODELAY_GROUP=LPDDR2_C0;
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_control_io/gen_cs_n[*].u_iodelay_cs_n" IODELAY_GROUP=LPDDR2_C0;
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_control_io/gen_ca[*].u_iodelay_ca" IODELAY_GROUP=LPDDR2_C0;
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_data_io/gen_dm_inst.gen_dm[*].u_phy_dm_iob/u_odelay_dm" IODELAY_GROUP=LPDDR2_C0;
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_data_io/gen_dq[*].u_iob_dq/u_iodelay_dq" IODELAY_GROUP=LPDDR2_C0;
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_data_io/gen_dqs[*].u_phy_dqs_iob/u_iodelay_dqs_p_early" IODELAY_GROUP=LPDDR2_C0;
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[*].u_odelay_cpt" IODELAY_GROUP=LPDDR2_C0;
INST "lpddr2_c0/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_odelay_rsync" IODELAY_GROUP=LPDDR2_C0;

###############################################################################
# Area group constraints
###############################################################################
INST "lpddr2_c0" AREA_GROUP = "AG_lpddr2_c0";
AREA_GROUP "AG_lpddr2_c0" RANGE = SLICE_X108Y120:SLICE_X135Y199;
AREA_GROUP "AG_lpddr2_c0" RANGE = RAMB36_X7Y24:RAMB36_X8Y39;

################################################################################
# LPDDR2 interface controller 1 constraints
# Timing, I/O STANDARDS, and PIN LOC Constraints
################################################################################

############################################################################
# Timing constraints                                                       #
############################################################################
# Constrain BUFR clocks used to synchronize data from IOB to fabric logic
# Note that ISE cannot infer this from other PERIOD constraints because
# of the use of OSERDES blocks in the BUFR clock generation path
NET "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/clk_rsync[?]" TNM_NET = "TNM_C1_clk_rsync";
TIMESPEC "TS_C1_clk_rsync" = PERIOD "TNM_C1_clk_rsync" 5 ns;
############################################################################

################################################################################
# I/O STANDARDS
################################################################################
NET "lpddr2_c1_dq[*]"                            IOSTANDARD = SSTL15_T_DCI;
NET "lpddr2_c1_ca[*]"                            IOSTANDARD = SSTL15;
NET "lpddr2_c1_cs_n[*]"                          IOSTANDARD = SSTL15;
NET "lpddr2_c1_cke[*]"                           IOSTANDARD = LVCMOS15;
NET "lpddr2_c1_dm[*]"                            IOSTANDARD = SSTL15;
NET "lpddr2_c1_dqs_p[*]"                         IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "lpddr2_c1_dqs_n[*]"                         IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "lpddr2_c1_ck_p[*]"                          IOSTANDARD = DIFF_SSTL15;
NET "lpddr2_c1_ck_n[*]"                          IOSTANDARD = DIFF_SSTL15;

##################################################################################
# Location Constraints
##################################################################################
NET "lpddr2_c1_dq[0]"                            LOC = "C20";        #Bank 26
NET "lpddr2_c1_dq[1]"                            LOC = "D20";        #Bank 26
NET "lpddr2_c1_dq[2]"                            LOC = "A23";        #Bank 26
NET "lpddr2_c1_dq[3]"                            LOC = "A24";        #Bank 26
NET "lpddr2_c1_dq[4]"                            LOC = "B23";        #Bank 26
NET "lpddr2_c1_dq[5]"                            LOC = "C23";        #Bank 26
NET "lpddr2_c1_dq[6]"                            LOC = "J20";        #Bank 26
NET "lpddr2_c1_dq[7]"                            LOC = "B21";        #Bank 26
NET "lpddr2_c1_dq[8]"                            LOC = "E22";        #Bank 26
NET "lpddr2_c1_dq[9]"                            LOC = "E23";        #Bank 26
NET "lpddr2_c1_dq[10]"                           LOC = "A20";        #Bank 26
NET "lpddr2_c1_dq[11]"                           LOC = "A21";        #Bank 26
NET "lpddr2_c1_dq[12]"                           LOC = "C19";        #Bank 26
NET "lpddr2_c1_dq[13]"                           LOC = "G20";        #Bank 26
NET "lpddr2_c1_dq[14]"                           LOC = "H20";        #Bank 26
NET "lpddr2_c1_dq[15]"                           LOC = "E19";        #Bank 26
NET "lpddr2_c1_dq[16]"                           LOC = "H22";        #Bank 26
NET "lpddr2_c1_dq[17]"                           LOC = "A18";        #Bank 26
NET "lpddr2_c1_dq[18]"                           LOC = "A19";        #Bank 26
NET "lpddr2_c1_dq[19]"                           LOC = "K21";        #Bank 26
NET "lpddr2_c1_dq[20]"                           LOC = "K22";        #Bank 26
NET "lpddr2_c1_dq[21]"                           LOC = "L20";        #Bank 26
NET "lpddr2_c1_dq[22]"                           LOC = "L21";        #Bank 26
NET "lpddr2_c1_dq[23]"                           LOC = "C22";        #Bank 26
NET "lpddr2_c1_dq[24]"                           LOC = "D25";        #Bank 25
NET "lpddr2_c1_dq[25]"                           LOC = "D26";        #Bank 25
NET "lpddr2_c1_dq[26]"                           LOC = "C24";        #Bank 25
NET "lpddr2_c1_dq[27]"                           LOC = "C25";        #Bank 25
NET "lpddr2_c1_dq[28]"                           LOC = "B25";        #Bank 25
NET "lpddr2_c1_dq[29]"                           LOC = "A25";        #Bank 25
NET "lpddr2_c1_dq[30]"                           LOC = "D27";        #Bank 25
NET "lpddr2_c1_dq[31]"                           LOC = "B26";        #Bank 25
NET "lpddr2_c1_ca[9]"                            LOC = "G26";        #Bank 25
NET "lpddr2_c1_ca[8]"                            LOC = "G27";        #Bank 25
NET "lpddr2_c1_ca[7]"                            LOC = "B27";        #Bank 25
NET "lpddr2_c1_ca[6]"                            LOC = "C27";        #Bank 25
NET "lpddr2_c1_ca[5]"                            LOC = "E24";        #Bank 25
NET "lpddr2_c1_ca[4]"                            LOC = "D29";        #Bank 25
NET "lpddr2_c1_ca[3]"                            LOC = "F25";        #Bank 25
NET "lpddr2_c1_ca[2]"                            LOC = "G25";        #Bank 25
NET "lpddr2_c1_ca[1]"                            LOC = "H27";        #Bank 25
NET "lpddr2_c1_ca[0]"                            LOC = "G28";        #Bank 25
NET "lpddr2_c1_cs_n[1]"                          LOC = "A28";        #Bank 25
NET "lpddr2_c1_cs_n[0]"                          LOC = "A29";        #Bank 25
NET "lpddr2_c1_cke[1]"                           LOC = "F28";        #Bank 25
NET "lpddr2_c1_cke[0]"                           LOC = "A30";        #Bank 25
NET "lpddr2_c1_dm[0]"                            LOC = "B22";        #Bank 26
NET "lpddr2_c1_dm[1]"                            LOC = "D19";        #Bank 26
NET "lpddr2_c1_dm[2]"                            LOC = "D22";        #Bank 26
NET "lpddr2_c1_dm[3]"                            LOC = "A26";        #Bank 25
NET "lpddr2_c1_dqs_p[0]"                         LOC = "G21";        #Bank 26
NET "lpddr2_c1_dqs_n[0]"                         LOC = "G22";        #Bank 26
NET "lpddr2_c1_dqs_p[1]"                         LOC = "F19";        #Bank 26
NET "lpddr2_c1_dqs_n[1]"                         LOC = "F20";        #Bank 26
NET "lpddr2_c1_dqs_p[2]"                         LOC = "B18";        #Bank 26
NET "lpddr2_c1_dqs_n[2]"                         LOC = "C18";        #Bank 26
NET "lpddr2_c1_dqs_p[3]"                         LOC = "E26";        #Bank 25
NET "lpddr2_c1_dqs_n[3]"                         LOC = "F26";        #Bank 25
NET "lpddr2_c1_ck_p[0]"                          LOC = "C28";        #Bank 25
NET "lpddr2_c1_ck_n[0]"                          LOC = "B28";        #Bank 25

##################################################################################################
##The following locations must be reserved and cannot be used for external I/O because          ##
##the I/O elements associated with these sites (IODELAY, OSERDES, and associated routing)       ##
##are used to generate and route the clocks necessary for read data capture and synchronization ##
##to the core clock domain. These pins should not be routed out on the user's PCB               ##
##################################################################################################

##################################################################################################
##The logic of this pin is used internally to drive a BUFR in the column. This chosen pin must  ##
##be a clock pin capable of spanning to all of the banks containing data bytes in the particular##
##column. That is, all byte groups must be within +/- 1 bank of this pin. This pin cannot be    ##
##used for other functions and should not be connected externally. If a different pin is chosen,##
##he corresponding LOC constraint must also be changed.                                         ##
##################################################################################################
CONFIG PROHIBIT = D24;

######################################################################################
##Place RSYNC OSERDES and IODELAY:                                                  ##
######################################################################################
##Site: D24 -- Bank 25
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_oserdes_rsync" LOC = "OLOGIC_X1Y143";
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_odelay_rsync"  LOC = "IODELAY_X1Y143";
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_bufr_rsync"    LOC = "BUFR_X1Y7";

##################################################################################################
##The logic of this pin is used internally to drive a BUFIO for the byte group. Any clock       ##
##capable pin in the same bank as the data byte group (DQS, DQ, DM if used) can be used for     ##
##this pin. This pin cannot be used for other functions and should not be connected externally. ##
##If a different pin is chosen, the corresponding LOC constraint must also be changed.          ##
##################################################################################################
CONFIG PROHIBIT = B20,F21,H19,C29;

######################################################################################
##Place CPT OSERDES and IODELAY:                                                    ##
######################################################################################
##Site: B20 -- Bank 26
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[0].u_oserdes_cpt" LOC = "OLOGIC_X1Y181";
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[0].u_odelay_cpt"  LOC = "IODELAY_X1Y181";

##Site: F21 -- Bank 26
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[1].u_oserdes_cpt" LOC = "OLOGIC_X1Y179";
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[1].u_odelay_cpt"  LOC = "IODELAY_X1Y179";

##Site: H19 -- Bank 26
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[2].u_oserdes_cpt" LOC = "OLOGIC_X1Y177";
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[2].u_odelay_cpt"  LOC = "IODELAY_X1Y177";

##Site: C29 -- Bank 25
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[3].u_oserdes_cpt" LOC = "OLOGIC_X1Y139";
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[3].u_odelay_cpt"  LOC = "IODELAY_X1Y139";

######################################################################################
## MMCM_ADV CONSTRAINTS                                                             ##
######################################################################################
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_infrastructure/u_mmcm_adv" LOC = "MMCM_ADV_X0Y7"; #Banks 15, 25, 35

###############################################################################
# IODELAY_GROUP constraints
###############################################################################
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_idelayctrl" IODELAY_GROUP=LPDDR2_C1;
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_clock_io/gen_ck[*].u_phy_ck_iob_fb/u_iodelay_ck_p" IODELAY_GROUP=LPDDR2_C1;
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_control_io/gen_cke[*].u_iodelay_cke" IODELAY_GROUP=LPDDR2_C1;
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_control_io/gen_cs_n[*].u_iodelay_cs_n" IODELAY_GROUP=LPDDR2_C1;
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_control_io/gen_ca[*].u_iodelay_ca" IODELAY_GROUP=LPDDR2_C1;
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_data_io/gen_dm_inst.gen_dm[*].u_phy_dm_iob/u_odelay_dm" IODELAY_GROUP=LPDDR2_C1;
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_data_io/gen_dq[*].u_iob_dq/u_iodelay_dq" IODELAY_GROUP=LPDDR2_C1;
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_data_io/gen_dqs[*].u_phy_dqs_iob/u_iodelay_dqs_p_early" IODELAY_GROUP=LPDDR2_C1;
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[*].u_odelay_cpt" IODELAY_GROUP=LPDDR2_C1;
INST "lpddr2_c1/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_odelay_rsync" IODELAY_GROUP=LPDDR2_C1;

###############################################################################
# Area group constraints
###############################################################################
INST "lpddr2_c1" AREA_GROUP = "AG_lpddr2_c1";
AREA_GROUP "AG_lpddr2_c1" RANGE = SLICE_X68Y120:SLICE_X95Y199;
AREA_GROUP "AG_lpddr2_c1" RANGE = RAMB36_X5Y24:RAMB36_X6Y39;

################################################################################
# LPDDR2 interface controller 2 constraints
# Timing, I/O STANDARDS, and PIN LOC Constraints
################################################################################

############################################################################
# Timing constraints                                                       #
############################################################################
# Constrain BUFR clocks used to synchronize data from IOB to fabric logic
# Note that ISE cannot infer this from other PERIOD constraints because
# of the use of OSERDES blocks in the BUFR clock generation path
NET "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/clk_rsync[?]" TNM_NET =" TNM_C2_clk_rsync";
TIMESPEC "TS_C2_clk_rsync" = PERIOD "TNM_C2_clk_rsync" 5 ns;
############################################################################

################################################################################
# I/O STANDARDS
################################################################################
NET "lpddr2_c2_dq[*]"                            IOSTANDARD = SSTL15_T_DCI;
NET "lpddr2_c2_ca[*]"                            IOSTANDARD = SSTL15;
NET "lpddr2_c2_cs_n[*]"                          IOSTANDARD = SSTL15;
NET "lpddr2_c2_cke[*]"                           IOSTANDARD = LVCMOS15;
NET "lpddr2_c2_dm[*]"                            IOSTANDARD = SSTL15;
NET "lpddr2_c2_dqs_p[*]"                         IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "lpddr2_c2_dqs_n[*]"                         IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "lpddr2_c2_ck_p[*]"                          IOSTANDARD = DIFF_SSTL15;
NET "lpddr2_c2_ck_n[*]"                          IOSTANDARD = DIFF_SSTL15;

##################################################################################
# Location Constraints
##################################################################################
NET "lpddr2_c2_dq[0]"                            LOC = "AN12";       #Bank 33
NET "lpddr2_c2_dq[1]"                            LOC = "AE14";       #Bank 33
NET "lpddr2_c2_dq[2]"                            LOC = "AN13";       #Bank 33
NET "lpddr2_c2_dq[3]"                            LOC = "AM13";       #Bank 33
NET "lpddr2_c2_dq[4]"                            LOC = "AK13";       #Bank 33
NET "lpddr2_c2_dq[5]"                            LOC = "AL13";       #Bank 33
NET "lpddr2_c2_dq[6]"                            LOC = "AH13";       #Bank 33
NET "lpddr2_c2_dq[7]"                            LOC = "AH14";       #Bank 33
NET "lpddr2_c2_dq[8]"                            LOC = "AG15";       #Bank 32
NET "lpddr2_c2_dq[9]"                            LOC = "AF15";       #Bank 32
NET "lpddr2_c2_dq[10]"                           LOC = "AK14";       #Bank 32
NET "lpddr2_c2_dq[11]"                           LOC = "AJ14";       #Bank 32
NET "lpddr2_c2_dq[12]"                           LOC = "AL15";       #Bank 32
NET "lpddr2_c2_dq[13]"                           LOC = "AL14";       #Bank 32
NET "lpddr2_c2_dq[14]"                           LOC = "AG16";       #Bank 32
NET "lpddr2_c2_dq[15]"                           LOC = "AN15";       #Bank 32
NET "lpddr2_c2_dq[16]"                           LOC = "AJ17";       #Bank 32
NET "lpddr2_c2_dq[17]"                           LOC = "AJ16";       #Bank 32
NET "lpddr2_c2_dq[18]"                           LOC = "AP16";       #Bank 32
NET "lpddr2_c2_dq[19]"                           LOC = "AP15";       #Bank 32
NET "lpddr2_c2_dq[20]"                           LOC = "AD15";       #Bank 32
NET "lpddr2_c2_dq[21]"                           LOC = "AD16";       #Bank 32
NET "lpddr2_c2_dq[22]"                           LOC = "AC17";       #Bank 32
NET "lpddr2_c2_dq[23]"                           LOC = "AN17";       #Bank 32
NET "lpddr2_c2_dq[24]"                           LOC = "AJ19";       #Bank 32
NET "lpddr2_c2_dq[25]"                           LOC = "AM17";       #Bank 32
NET "lpddr2_c2_dq[26]"                           LOC = "AM16";       #Bank 32
NET "lpddr2_c2_dq[27]"                           LOC = "AD17";       #Bank 32
NET "lpddr2_c2_dq[28]"                           LOC = "AE17";       #Bank 32
NET "lpddr2_c2_dq[29]"                           LOC = "AE18";       #Bank 32
NET "lpddr2_c2_dq[30]"                           LOC = "AF18";       #Bank 32
NET "lpddr2_c2_dq[31]"                           LOC = "AL16";       #Bank 32
NET "lpddr2_c2_ca[9]"                            LOC = "AC14";       #Bank 33
NET "lpddr2_c2_ca[8]"                            LOC = "AK12";       #Bank 33
NET "lpddr2_c2_ca[7]"                            LOC = "AJ12";       #Bank 33
NET "lpddr2_c2_ca[6]"                            LOC = "AF11";       #Bank 33
NET "lpddr2_c2_ca[5]"                            LOC = "AM10";       #Bank 33
NET "lpddr2_c2_ca[4]"                            LOC = "AL10";       #Bank 33
NET "lpddr2_c2_ca[3]"                            LOC = "AG11";       #Bank 33
NET "lpddr2_c2_ca[2]"                            LOC = "AG10";       #Bank 33
NET "lpddr2_c2_ca[1]"                            LOC = "AL11";       #Bank 33
NET "lpddr2_c2_ca[0]"                            LOC = "AM11";       #Bank 33
NET "lpddr2_c2_cs_n[1]"                          LOC = "AH10";       #Bank 33
NET "lpddr2_c2_cs_n[0]"                          LOC = "AD11";       #Bank 33
NET "lpddr2_c2_cke[1]"                           LOC = "AP11";       #Bank 33
NET "lpddr2_c2_cke[0]"                           LOC = "AP12";       #Bank 33
NET "lpddr2_c2_dm[0]"                            LOC = "AP14";       #Bank 33
NET "lpddr2_c2_dm[1]"                            LOC = "AM15";       #Bank 32
NET "lpddr2_c2_dm[2]"                            LOC = "AP17";       #Bank 32
NET "lpddr2_c2_dm[3]"                            LOC = "AK16";       #Bank 32
NET "lpddr2_c2_dqs_p[0]"                         LOC = "AG12";       #Bank 33
NET "lpddr2_c2_dqs_n[0]"                         LOC = "AH12";       #Bank 33
NET "lpddr2_c2_dqs_p[1]"                         LOC = "AJ15";       #Bank 32
NET "lpddr2_c2_dqs_n[1]"                         LOC = "AH15";       #Bank 32
NET "lpddr2_c2_dqs_p[2]"                         LOC = "AH17";       #Bank 32
NET "lpddr2_c2_dqs_n[2]"                         LOC = "AG17";       #Bank 32
NET "lpddr2_c2_dqs_p[3]"                         LOC = "AK18";       #Bank 32
NET "lpddr2_c2_dqs_n[3]"                         LOC = "AK17";       #Bank 32
NET "lpddr2_c2_ck_p[0]"                          LOC = "AC13";       #Bank 33
NET "lpddr2_c2_ck_n[0]"                          LOC = "AC12";       #Bank 33

##################################################################################################
##The following locations must be reserved and cannot be used for external I/O because          ##
##the I/O elements associated with these sites (IODELAY, OSERDES, and associated routing)       ##
##are used to generate and route the clocks necessary for read data capture and synchronization ##
##to the core clock domain. These pins should not be routed out on the user's PCB               ##
##################################################################################################

##################################################################################################
##The logic of this pin is used internally to drive a BUFR in the column. This chosen pin must  ##
##be a clock pin capable of spanning to all of the banks containing data bytes in the particular##
##column. That is, all byte groups must be within +/- 1 bank of this pin. This pin cannot be    ##
##used for other functions and should not be connected externally. If a different pin is chosen,##
##he corresponding LOC constraint must also be changed.                                         ##
##################################################################################################
CONFIG PROHIBIT = AJ10;

######################################################################################
##Place RSYNC OSERDES and IODELAY:                                                  ##
######################################################################################
##Site: AJ10 -- Bank 33
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_oserdes_rsync" LOC = "OLOGIC_X2Y63";
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_odelay_rsync"  LOC = "IODELAY_X2Y63";
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_bufr_rsync"    LOC = "BUFR_X2Y3";

##################################################################################################
##The logic of this pin is used internally to drive a BUFIO for the byte group. Any clock       ##
##capable pin in the same bank as the data byte group (DQS, DQ, DM if used) can be used for     ##
##this pin. This pin cannot be used for other functions and should not be connected externally. ##
##If a different pin is chosen, the corresponding LOC constraint must also be changed.          ##
##################################################################################################
CONFIG PROHIBIT = AD12,AC15,AE16,AC18;

######################################################################################
##Place CPT OSERDES and IODELAY:                                                    ##
######################################################################################
##Site: AD12 -- Bank 33
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[0].u_oserdes_cpt" LOC = "OLOGIC_X2Y59";
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[0].u_odelay_cpt"  LOC = "IODELAY_X2Y59";

##Site: AC15 -- Bank 32
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[1].u_oserdes_cpt" LOC = "OLOGIC_X2Y21";
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[1].u_odelay_cpt"  LOC = "IODELAY_X2Y21";

##Site: AE16 -- Bank 32
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[2].u_oserdes_cpt" LOC = "OLOGIC_X2Y19";
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[2].u_odelay_cpt"  LOC = "IODELAY_X2Y19";

##Site: AC18 -- Bank 32
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[3].u_oserdes_cpt" LOC = "OLOGIC_X2Y17";
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[3].u_odelay_cpt"  LOC = "IODELAY_X2Y17";

######################################################################################
## MMCM_ADV CONSTRAINTS                                                             ##
######################################################################################
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_infrastructure/u_mmcm_adv" LOC = "MMCM_ADV_X0Y3"; #Banks 13, 23, 33

###############################################################################
# IODELAY_GROUP constraints
###############################################################################
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_idelayctrl" IODELAY_GROUP=LPDDR2_C2;
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_clock_io/gen_ck[*].u_phy_ck_iob_fb/u_iodelay_ck_p" IODELAY_GROUP=LPDDR2_C2;
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_control_io/gen_cke[*].u_iodelay_cke" IODELAY_GROUP=LPDDR2_C2;
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_control_io/gen_cs_n[*].u_iodelay_cs_n" IODELAY_GROUP=LPDDR2_C2;
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_control_io/gen_ca[*].u_iodelay_ca" IODELAY_GROUP=LPDDR2_C2;
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_data_io/gen_dm_inst.gen_dm[*].u_phy_dm_iob/u_odelay_dm" IODELAY_GROUP=LPDDR2_C2;
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_data_io/gen_dq[*].u_iob_dq/u_iodelay_dq" IODELAY_GROUP=LPDDR2_C2;
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_data_io/gen_dqs[*].u_phy_dqs_iob/u_iodelay_dqs_p_early" IODELAY_GROUP=LPDDR2_C2;
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[*].u_odelay_cpt" IODELAY_GROUP=LPDDR2_C2;
INST "lpddr2_c2/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_odelay_rsync" IODELAY_GROUP=LPDDR2_C2;

###############################################################################
# Area group constraints
###############################################################################
INST "lpddr2_c2" AREA_GROUP = "AG_lpddr2_c2";
AREA_GROUP "AG_lpddr2_c2" RANGE = SLICE_X108Y0:SLICE_X135Y79;
AREA_GROUP "AG_lpddr2_c2" RANGE = RAMB36_X7Y0:RAMB36_X8Y15;

################################################################################
# LPDDR2 interface controller 3 constraints
# Timing, I/O STANDARDS, and PIN LOC Constraints
################################################################################

############################################################################
# Timing constraints                                                       #
############################################################################
# Constrain BUFR clocks used to synchronize data from IOB to fabric logic
# Note that ISE cannot infer this from other PERIOD constraints because
# of the use of OSERDES blocks in the BUFR clock generation path
NET "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/clk_rsync[?]" TNM_NET = "TNM_C3_clk_rsync";
TIMESPEC "TS_C3_clk_rsync" = PERIOD "TNM_C3_clk_rsync" 5 ns;
############################################################################

################################################################################
# I/O STANDARDS
################################################################################
NET "lpddr2_c3_dq[*]"                            IOSTANDARD = SSTL15_T_DCI;
NET "lpddr2_c3_ca[*]"                            IOSTANDARD = SSTL15;
NET "lpddr2_c3_cs_n[*]"                          IOSTANDARD = SSTL15;
NET "lpddr2_c3_cke[*]"                           IOSTANDARD = LVCMOS15;
NET "lpddr2_c3_dm[*]"                            IOSTANDARD = SSTL15;
NET "lpddr2_c3_dqs_p[*]"                         IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "lpddr2_c3_dqs_n[*]"                         IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "lpddr2_c3_ck_p[*]"                          IOSTANDARD = DIFF_SSTL15;
NET "lpddr2_c3_ck_n[*]"                          IOSTANDARD = DIFF_SSTL15;

##################################################################################
# Location Constraints
##################################################################################
NET "lpddr2_c3_dq[0]"                            LOC = "AH27";       #Bank 23
NET "lpddr2_c3_dq[1]"                            LOC = "AH28";       #Bank 23
NET "lpddr2_c3_dq[2]"                            LOC = "AN30";       #Bank 23
NET "lpddr2_c3_dq[3]"                            LOC = "AM30";       #Bank 23
NET "lpddr2_c3_dq[4]"                            LOC = "AP30";       #Bank 23
NET "lpddr2_c3_dq[5]"                            LOC = "AP31";       #Bank 23
NET "lpddr2_c3_dq[6]"                            LOC = "AL29";       #Bank 23
NET "lpddr2_c3_dq[7]"                            LOC = "AN29";       #Bank 23
NET "lpddr2_c3_dq[8]"                            LOC = "AL28";       #Bank 23
NET "lpddr2_c3_dq[9]"                            LOC = "AK28";       #Bank 23
NET "lpddr2_c3_dq[10]"                           LOC = "AN28";       #Bank 23
NET "lpddr2_c3_dq[11]"                           LOC = "AM28";       #Bank 23
NET "lpddr2_c3_dq[12]"                           LOC = "AM27";       #Bank 23
NET "lpddr2_c3_dq[13]"                           LOC = "AJ27";       #Bank 23
NET "lpddr2_c3_dq[14]"                           LOC = "AH24";       #Bank 23
NET "lpddr2_c3_dq[15]"                           LOC = "AL26";       #Bank 23
NET "lpddr2_c3_dq[16]"                           LOC = "AJ24";       #Bank 23
NET "lpddr2_c3_dq[17]"                           LOC = "AP27";       #Bank 23
NET "lpddr2_c3_dq[18]"                           LOC = "AP26";       #Bank 23
NET "lpddr2_c3_dq[19]"                           LOC = "AM25";       #Bank 23
NET "lpddr2_c3_dq[20]"                           LOC = "AL25";       #Bank 23
NET "lpddr2_c3_dq[21]"                           LOC = "AK23";       #Bank 23
NET "lpddr2_c3_dq[22]"                           LOC = "AL24";       #Bank 23
NET "lpddr2_c3_dq[23]"                           LOC = "AP25";       #Bank 23
NET "lpddr2_c3_dq[24]"                           LOC = "AE21";       #Bank 22
NET "lpddr2_c3_dq[25]"                           LOC = "AD21";       #Bank 22
NET "lpddr2_c3_dq[26]"                           LOC = "AM18";       #Bank 22
NET "lpddr2_c3_dq[27]"                           LOC = "AL18";       #Bank 22
NET "lpddr2_c3_dq[28]"                           LOC = "AP19";       #Bank 22
NET "lpddr2_c3_dq[29]"                           LOC = "AN18";       #Bank 22
NET "lpddr2_c3_dq[30]"                           LOC = "AK22";       #Bank 22
NET "lpddr2_c3_dq[31]"                           LOC = "AN19";       #Bank 22
NET "lpddr2_c3_ca[9]"                            LOC = "AC20";       #Bank 22
NET "lpddr2_c3_ca[8]"                            LOC = "AD20";       #Bank 22
NET "lpddr2_c3_ca[7]"                            LOC = "AM20";       #Bank 22
NET "lpddr2_c3_ca[6]"                            LOC = "AL20";       #Bank 22
NET "lpddr2_c3_ca[5]"                            LOC = "AE19";       #Bank 22
NET "lpddr2_c3_ca[4]"                            LOC = "AL19";       #Bank 22
NET "lpddr2_c3_ca[3]"                            LOC = "AF20";       #Bank 22
NET "lpddr2_c3_ca[2]"                            LOC = "AF21";       #Bank 22
NET "lpddr2_c3_ca[1]"                            LOC = "AM21";       #Bank 22
NET "lpddr2_c3_ca[0]"                            LOC = "AL21";       #Bank 22
NET "lpddr2_c3_cs_n[1]"                          LOC = "AC19";       #Bank 22
NET "lpddr2_c3_cs_n[0]"                          LOC = "AM23";       #Bank 22
NET "lpddr2_c3_cke[1]"                           LOC = "AL23";       #Bank 22
NET "lpddr2_c3_cke[0]"                           LOC = "AK21";       #Bank 22
NET "lpddr2_c3_dm[0]"                            LOC = "AP29";       #Bank 23
NET "lpddr2_c3_dm[1]"                            LOC = "AM26";       #Bank 23
NET "lpddr2_c3_dm[2]"                            LOC = "AP24";       #Bank 23
NET "lpddr2_c3_dm[3]"                            LOC = "AN20";       #Bank 22
NET "lpddr2_c3_dqs_p[0]"                         LOC = "AG25";       #Bank 23
NET "lpddr2_c3_dqs_n[0]"                         LOC = "AG26";       #Bank 23
NET "lpddr2_c3_dqs_p[1]"                         LOC = "AH25";       #Bank 23
NET "lpddr2_c3_dqs_n[1]"                         LOC = "AJ25";       #Bank 23
NET "lpddr2_c3_dqs_p[2]"                         LOC = "AN25";       #Bank 23
NET "lpddr2_c3_dqs_n[2]"                         LOC = "AN24";       #Bank 23
NET "lpddr2_c3_dqs_p[3]"                         LOC = "AG22";       #Bank 22
NET "lpddr2_c3_dqs_n[3]"                         LOC = "AH22";       #Bank 22
NET "lpddr2_c3_ck_p[0]"                          LOC = "AP20";       #Bank 22
NET "lpddr2_c3_ck_n[0]"                          LOC = "AP21";       #Bank 22

##################################################################################################
##The following locations must be reserved and cannot be used for external I/O because          ##
##the I/O elements associated with these sites (IODELAY, OSERDES, and associated routing)       ##
##are used to generate and route the clocks necessary for read data capture and synchronization ##
##to the core clock domain. These pins should not be routed out on the user's PCB               ##
##################################################################################################

##################################################################################################
##The logic of this pin is used internally to drive a BUFR in the column. This chosen pin must  ##
##be a clock pin capable of spanning to all of the banks containing data bytes in the particular##
##column. That is, all byte groups must be within +/- 1 bank of this pin. This pin cannot be    ##
##used for other functions and should not be connected externally. If a different pin is chosen,##
##he corresponding LOC constraint must also be changed.                                         ##
##################################################################################################
CONFIG PROHIBIT = AF19;

######################################################################################
##Place RSYNC OSERDES and IODELAY:                                                  ##
######################################################################################
##Site: AF19 -- Bank 22
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_oserdes_rsync" LOC = "OLOGIC_X1Y23";
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_odelay_rsync"  LOC = "IODELAY_X1Y23";
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_bufr_rsync"    LOC = "BUFR_X1Y1";

##################################################################################################
##The logic of this pin is used internally to drive a BUFIO for the byte group. Any clock       ##
##capable pin in the same bank as the data byte group (DQS, DQ, DM if used) can be used for     ##
##this pin. This pin cannot be used for other functions and should not be connected externally. ##
##If a different pin is chosen, the corresponding LOC constraint must also be changed.          ##
##################################################################################################
CONFIG PROHIBIT = AN27,AK27,AH23,AK19;

######################################################################################
##Place CPT OSERDES and IODELAY:                                                    ##
######################################################################################
##Site: AN27 -- Bank 23
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[0].u_oserdes_cpt" LOC = "OLOGIC_X1Y61";
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[0].u_odelay_cpt"  LOC = "IODELAY_X1Y61";

##Site: AK27 -- Bank 23
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[1].u_oserdes_cpt" LOC = "OLOGIC_X1Y59";
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[1].u_odelay_cpt"  LOC = "IODELAY_X1Y59";

##Site: AH23 -- Bank 23
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[2].u_oserdes_cpt" LOC = "OLOGIC_X1Y57";
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[2].u_odelay_cpt"  LOC = "IODELAY_X1Y57";

##Site: AK19 -- Bank 22
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[3].u_oserdes_cpt" LOC = "OLOGIC_X1Y19";
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[3].u_odelay_cpt"  LOC = "IODELAY_X1Y19";

######################################################################################
## MMCM_ADV CONSTRAINTS                                                             ##
######################################################################################
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_infrastructure/u_mmcm_adv" LOC = "MMCM_ADV_X0Y1"; #Banks 12, 22, 32

###############################################################################
# IODELAY_GROUP constraints
###############################################################################
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_idelayctrl" IODELAY_GROUP=LPDDR2_C3;
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_clock_io/gen_ck[*].u_phy_ck_iob_fb/u_iodelay_ck_p" IODELAY_GROUP=LPDDR2_C3;
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_control_io/gen_cke[*].u_iodelay_cke" IODELAY_GROUP=LPDDR2_C3;
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_control_io/gen_cs_n[*].u_iodelay_cs_n" IODELAY_GROUP=LPDDR2_C3;
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_control_io/gen_ca[*].u_iodelay_ca" IODELAY_GROUP=LPDDR2_C3;
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_data_io/gen_dm_inst.gen_dm[*].u_phy_dm_iob/u_odelay_dm" IODELAY_GROUP=LPDDR2_C3;
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_data_io/gen_dq[*].u_iob_dq/u_iodelay_dq" IODELAY_GROUP=LPDDR2_C3;
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_data_io/gen_dqs[*].u_phy_dqs_iob/u_iodelay_dqs_p_early" IODELAY_GROUP=LPDDR2_C3;
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_ck_cpt[*].u_odelay_cpt" IODELAY_GROUP=LPDDR2_C3;
INST "lpddr2_c3/lpddr2_intf_top_inst/u_lpddr2_intf/u_phy_top/u_phy_read/u_phy_rdclk_gen/gen_loop_col0.u_odelay_rsync" IODELAY_GROUP=LPDDR2_C3;

###############################################################################
# Area group constraints
###############################################################################
INST "lpddr2_c3" AREA_GROUP = "AG_lpddr2_c3";
AREA_GROUP "AG_lpddr2_c3" RANGE = SLICE_X68Y0:SLICE_X95Y79;
AREA_GROUP "AG_lpddr2_c3" RANGE = RAMB36_X5Y0:RAMB36_X6Y15;

