################################################################################
# FPGA part dependent area constraints                                         #
# SX315T                                                                       #
################################################################################
INST "inst_afe_top/inst_adc0/inst_adc_intf/inst_adc_phy_top/inst_ads5400_phy/inst_idelayctrl" LOC = "IDELAYCTRL_X0Y1";
INST "inst_afe_top/inst_adc1/inst_adc_intf/inst_adc_phy_top/inst_ads5400_phy/inst_idelayctrl" LOC = "IDELAYCTRL_X0Y0";
INST "inst_afe_top/inst_dac0_intf/inst_dac_intf/dac5682z_phy_inst/idelayctrl_inst" LOC = "IDELAYCTRL_X0Y3";
INST "inst_afe_top/inst_dac1_intf/inst_dac_intf/dac5682z_phy_inst/idelayctrl_inst" LOC = "IDELAYCTRL_X0Y2";
INST "inst_afe_top/inst_idelayctrl" LOC = "IDELAYCTRL_X0Y4";

INST "inst_afe_top/inst_adc0" AREA_GROUP = "AG_adc0_intf";
AREA_GROUP "AG_adc0_intf" RANGE = SLICE_X0Y60:SLICE_X23Y99;
AREA_GROUP "AG_adc0_intf" RANGE = RAMB18_X0Y24:RAMB18_X1Y39;
AREA_GROUP "AG_adc0_intf" RANGE = RAMB36_X0Y12:RAMB36_X1Y19;

INST "inst_afe_top/inst_adc1" AREA_GROUP = "AG_adc1_intf";
AREA_GROUP "AG_adc1_intf" RANGE = SLICE_X0Y20:SLICE_X23Y59;
AREA_GROUP "AG_adc1_intf" RANGE = RAMB18_X0Y8:RAMB18_X1Y23;
AREA_GROUP "AG_adc1_intf" RANGE = RAMB36_X0Y4:RAMB36_X1Y11;

INST "inst_afe_top/inst_dac0_intf" AREA_GROUP = "AG_dac0_intf";
AREA_GROUP "AG_dac0_intf" RANGE = SLICE_X0Y140:SLICE_X23Y179;
AREA_GROUP "AG_dac0_intf" RANGE = RAMB36_X0Y28:RAMB36_X1Y35;
AREA_GROUP "AG_dac0_intf" RANGE = DSP48_X0Y56:DSP48_X1Y71;

INST "inst_afe_top/inst_dac1_intf" AREA_GROUP = "AG_dac1_intf";
AREA_GROUP "AG_dac1_intf" RANGE = SLICE_X0Y100:SLICE_X23Y139;
AREA_GROUP "AG_dac1_intf" RANGE = RAMB36_X0Y20:RAMB36_X1Y27;
AREA_GROUP "AG_dac1_intf" RANGE = DSP48_X0Y40:DSP48_X1Y55;

INST "inst_vmvr" AREA_GROUP = "AG_vmvr";
AREA_GROUP "AG_vmvr" RANGE = SLICE_X108Y80:SLICE_X123Y119;
AREA_GROUP "AG_vmvr" RANGE = RAMB18_X7Y32:RAMB18_X7Y47;
AREA_GROUP "AG_vmvr" RANGE = RAMB36_X7Y16:RAMB36_X7Y23;

INST "inst_packetizer_top/inst_packetizer" AREA_GROUP = "AG_packetizer";

# Do not change these constraints
INST "inst_afe_top/inst_adc0/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/ISERDESE1_inst" LOC = ILOGIC_X0Y62;
INST "inst_afe_top/inst_adc0/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/IODELAY_inst" LOC = IODELAY_X0Y62;
INST "inst_afe_top/inst_adc1/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/ISERDESE1_inst" LOC = ILOGIC_X0Y60;
INST "inst_afe_top/inst_adc1/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/IODELAY_inst" LOC = IODELAY_X0Y60;
INST "inst_afe_top/adc0_sw_trig" LOC = SLICE_X7Y61;
INST "inst_afe_top/adc0_sw_trig" BEL = B5FF;
INST "inst_afe_top/adc1_sw_trig" LOC = SLICE_X7Y61;
INST "inst_afe_top/adc1_sw_trig" BEL = BFF;
INST "inst_afe_top/inst_dac0_intf/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/IODELAY_inst" LOC = IODELAY_X0Y120;
INST "inst_afe_top/inst_dac0_intf/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/ISERDESE1_inst" LOC = ILOGIC_X0Y120;
INST "inst_afe_top/inst_dac1_intf/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/IODELAY_inst" LOC = IODELAY_X0Y118;
INST "inst_afe_top/inst_dac1_intf/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/ISERDESE1_inst" LOC = ILOGIC_X0Y118;
INST "inst_afe_top/dac0_sw_trig" LOC = SLICE_X0Y120;
INST "inst_afe_top/dac0_sw_trig" BEL = D5FF;
INST "inst_afe_top/dac1_sw_trig" LOC = SLICE_X0Y118;
INST "inst_afe_top/dac1_sw_trig" BEL = D5FF;
INST "inst_afe_top/dac_sw_trig_dmt" LOC = SLICE_X1Y120;
INST "inst_afe_top/dac_sw_trig_dmt" BEL = AFF;

