################################################################################
# I/O STANDARDS and PIN LOC Constraints
################################################################################

################################################################################
# Clocks and resets
################################################################################
NET "sys_clk_p"      LOC = K24 | IOSTANDARD = DIFF_SSTL18_I;  #Bank 24
NET "sys_clk_n"      LOC = K23 | IOSTANDARD = DIFF_SSTL18_I;  #Bank 24

NET "pex_rst_n"      LOC = AC22 | IOSTANDARD = LVCMOS18;  #Bank 24
NET "pex_mbist_n"    LOC = AD22 | IOSTANDARD = LVCMOS18;  #Bank 24
NET "pci_rst_n"      LOC = AC23 | IOSTANDARD = LVCMOS18;  #Bank 24


################################################################################
# MISC
################################################################################
# Serial RapidIO clock control
NET "sio_xo_*"       IOSTANDARD = LVCMOS25;
NET "sio_xo_scl"     LOC = G33;  #Bank 16
NET "sio_xo_sda"     LOC = B33;  #Bank 16
NET "sio_xo_intr"    LOC = F33;  #Bank 16


# Board revision info
NET "hw_rev[*]"      IOSTANDARD = LVCMOS15;
NET "cfg[*]"         IOSTANDARD = LVCMOS15;
NET "hw_rev[0]"      LOC = F18  | PULLUP;  #Bank 36
NET "hw_rev[1]"      LOC = E17  | PULLUP;  #Bank 36
NET "hw_rev[2]"      LOC = E18  | PULLUP;  #Bank 36
NET "hw_rev[3]"      LOC = D17  | PULLUP;  #Bank 36
NET "cfg[0]"         LOC = AJ21 | PULLUP;  #Bank 22
NET "cfg[1]"         LOC = AM22 | PULLUP;  #Bank 22
NET "cfg[2]"         LOC = AN22 | PULLUP;  #Bank 22
NET "cfg[3]"         LOC = AG20 | PULLUP;  #Bank 22


# Digital I/O
NET "dio_*"          IOSTANDARD = LVCMOS25;
NET "h_*"            IOSTANDARD = LVCMOS25;
NET "dio_p[0]"       LOC = AK9 ;  #Bank 34
NET "dio_p[1]"       LOC = AD9 ;  #Bank 34
NET "dio_p[2]"       LOC = AF9 ;  #Bank 34
NET "dio_p[3]"       LOC = AG8 ;  #Bank 34
NET "dio_p[4]"       LOC = F9  ;  #Bank 34
NET "dio_p[5]"       LOC = C10 ;  #Bank 34
NET "dio_p[6]"       LOC = C9  ;  #Bank 34
NET "dio_p[7]"       LOC = A9  ;  #Bank 34
NET "dio_p[8]"       LOC = E8  ;  #Bank 34
NET "dio_p[9]"       LOC = B8  ;  #Bank 34
NET "dio_p[10]"      LOC = L9  ;  #Bank 34
NET "dio_p[11]"      LOC = L10 ;  #Bank 34
NET "dio_p[12]"      LOC = AC10;  #Bank 34
NET "dio_p[13]"      LOC = AH9 ;  #Bank 34
NET "dio_p[14]"      LOC = AD10;  #Bank 34
NET "dio_p[15]"      LOC = AK8 ;  #Bank 34
NET "dio_p[16]"      LOC = AN9 ;  #Bank 34
NET "dio_p[17]"      LOC = A10 ;  #Bank 34
NET "dio_p[18]"      LOC = AN10;  #Bank 34
NET "dio_p[19]"      LOC = AJ29;  #Bank 12
NET "dio_p[20]"      LOC = AJ31;  #Bank 12
NET "dio_p[21]"      LOC = AF26;  #Bank 12
NET "dio_p[22]"      LOC = AF30;  #Bank 12
NET "dio_p[23]"      LOC = AG27;  #Bank 12
NET "dio_p[24]"      LOC = AN33;  #Bank 12
NET "dio_p[25]"      LOC = AH29;  #Bank 12
NET "dio_p[26]"      LOC = AL34;  #Bank 12
NET "dio_p[27]"      LOC = AF28;  #Bank 12
NET "dio_p[28]"      LOC = AJ34;  #Bank 12
NET "dio_p[29]"      LOC = AE28;  #Bank 12
NET "dio_p[30]"      LOC = AH33;  #Bank 12
NET "dio_p[31]"      LOC = AE27;  #Bank 12
NET "dio_n[0]"       LOC = AL9 ;  #Bank 34
NET "dio_n[1]"       LOC = AE9 ;  #Bank 34
NET "dio_n[2]"       LOC = AF10;  #Bank 34
NET "dio_n[3]"       LOC = AH8 ;  #Bank 34
NET "dio_n[4]"       LOC = F10 ;  #Bank 34
NET "dio_n[5]"       LOC = D10 ;  #Bank 34
NET "dio_n[6]"       LOC = D9  ;  #Bank 34
NET "dio_n[7]"       LOC = A8  ;  #Bank 34
NET "dio_n[8]"       LOC = E9  ;  #Bank 34
NET "dio_n[9]"       LOC = C8  ;  #Bank 34
NET "dio_n[10]"      LOC = K9  ;  #Bank 34
NET "dio_n[11]"      LOC = M10 ;  #Bank 34
NET "dio_n[12]"      LOC = AB10;  #Bank 34
NET "dio_n[13]"      LOC = AJ9 ;  #Bank 34
NET "dio_n[14]"      LOC = AC9 ;  #Bank 34
NET "dio_n[15]"      LOC = AL8 ;  #Bank 34
NET "dio_n[16]"      LOC = AP9 ;  #Bank 34
NET "dio_n[17]"      LOC = B10 ;  #Bank 34
NET "dio_n[18]"      LOC = AP10;  #Bank 34
NET "dio_n[19]"      LOC = AJ30;  #Bank 12
NET "dio_n[20]"      LOC = AJ32;  #Bank 12
NET "dio_n[21]"      LOC = AE26;  #Bank 12
NET "dio_n[22]"      LOC = AG30;  #Bank 12
NET "dio_n[23]"      LOC = AG28;  #Bank 12
NET "dio_n[24]"      LOC = AN34;  #Bank 12
NET "dio_n[25]"      LOC = AH30;  #Bank 12
NET "dio_n[26]"      LOC = AK34;  #Bank 12
NET "dio_n[27]"      LOC = AF29;  #Bank 12
NET "dio_n[28]"      LOC = AH34;  #Bank 12
NET "dio_n[29]"      LOC = AE29;  #Bank 12
NET "dio_n[30]"      LOC = AH32;  #Bank 12
NET "dio_n[31]"      LOC = AD27;  #Bank 12
NET "h_pps"          LOC = K27 ;  #Bank 16


# CPLD interface
NET "loader_*"       IOSTANDARD = LVCMOS18;
NET "loader_clk"     LOC = V23 ;  #Bank 24
NET "loader_cs"      LOC = J24 ;  #Bank 24
NET "loader_dio"     LOC = U23 ;  #Bank 24
NET "loader_bus[0]"  LOC = AF24;  #Bank 24
NET "loader_bus[1]"  LOC = AF25;  #Bank 24
NET "loader_bus[2]"  LOC = W24 ;  #Bank 24
NET "loader_bus[3]"  LOC = V24 ;  #Bank 24
NET "loader_bus[4]"  LOC = H24 ;  #Bank 24
NET "loader_bus[5]"  LOC = H25 ;  #Bank 24
NET "loader_bus[6]"  LOC = P24 ;  #Bank 24
NET "loader_bus[7]"  LOC = R24 ;  #Bank 24
NET "loader_bus[8]"  LOC = G23 ;  #Bank 24
NET "loader_bus[9]"  LOC = H23 ;  #Bank 24
NET "loader_bus[10]" LOC = N24 ;  #Bank 24
NET "loader_bus[11]" LOC = N23 ;  #Bank 24
NET "loader_bus[12]" LOC = F23 ;  #Bank 24
NET "loader_bus[13]" LOC = F24 ;  #Bank 24
NET "loader_bus[14]" LOC = L24 ;  #Bank 24
NET "loader_bus[15]" LOC = M23 ;  #Bank 24


# Calibration serial flash
NET "rom_*"          IOSTANDARD = LVCMOS15;
NET "rom_hold_n"     LOC = A31;  #Bank 25
NET "rom_sck"        LOC = B31;  #Bank 25
NET "rom_sdi"        LOC = H29;  #Bank 25
NET "rom_sdo"        LOC = C30;  #Bank 25
NET "rom_wp_n"       LOC = D30;  #Bank 25
NET "rom_cs_n"       LOC = B30;  #Bank 25


# Temperature monitoring
NET "temp_*"         IOSTANDARD = LVCMOS25;
NET "temp_smbclk"    LOC = J29;  #Bank 16
NET "temp_smbdat"    LOC = A33;  #Bank 16


# LED
NET "led*"           IOSTANDARD = LVCMOS25;
NET "led1"           LOC = D34;  #Bank 16
NET "led2"           LOC = J26;  #Bank 16
NET "led3"           LOC = J27;  #Bank 16


################################################################################
# Timing constraints                                                           #
################################################################################
NET "sys_clk_?" TNM_NET = "TNM_sys_clk_i";
TIMESPEC "TS_sys_clk_i" = PERIOD "TNM_sys_clk_i" 5 ns;

NET "dac?_clk_in_?" TNM_NET = "TNM_DAC_CLK_IN";
TIMESPEC "TS_DAC_CLK_IN" = PERIOD "TNM_DAC_CLK_IN" 2 ns;   #500MHz
NET "inst_afe_top/inst_dac?_intf/dac_clk" TNM_NET = "TNM_DAC_CLK";

NET "adc?_da_dclk_?" TNM_NET = "TNM_ADC_DCLK";
TIMESPEC "TS_ADC_DCLK" = PERIOD "TNM_ADC_DCLK" 2 ns;  #500MHz
NET "inst_afe_top/inst_adc?/adc_dclk_div2" TNM_NET = "TNM_ADC_CLK";

NET "ref_clk200" TNM = "TNM_ref_clk200";

NET "lpddr2_c?/mem_clk_div2" TNM = "TNM_lpddr2_mmcm_clk";
NET "lpddr2_c?/tb_clk" TNM = "TNM_lpddr2_tb_clk";

NET "sys_clk" TNM = "TNM_sys_clk";
TIMESPEC "TS_sys_clk" = PERIOD "TNM_sys_clk" 5.0 ns;

# multi-cycle paths
INST "*/inst_core/app_data_read*" TNM = "ctl_reg_grp_i";
TIMESPEC "TS_ctl_reg_i_mcycle" = FROM "FFS" TO "ctl_reg_grp_i" "TS_sys_clk" * 4;

INST "*/inst_core/app_wr_en*" TNM = "ctl_reg_wr_en";
TIMESPEC "TS_ctl_reg_en_o_mcycle" = FROM "ctl_reg_wr_en" TO "FFS" "TS_sys_clk" * 2;

INST "wb_dat_i_d*" TNM = "TNM_wb_dat_i_d";
TIMESPEC "TS_wb_dat_i_mcycle" = FROM "FFS" TO "TNM_wb_dat_i_d" "TS_sys_clk" * 2;

INST "inst_crm/u_ff_wb_rst_o" TNM = "TNM_crm_rst";
INST "inst_crm/u_ff_frontend_rst" TNM = "TNM_crm_rst";
INST "inst_crm/u_ff_backend_rst" TNM = "TNM_crm_rst";
TIMESPEC "TS_MC_crm_rst" = FROM "TNM_crm_rst" TO "FFS" "TS_sys_clk" * 4;

# Timing ignore paths
TIMESPEC "TS_pex2sysclk_TIG" = FROM "CLK_USER_CLK" TO "TNM_sys_clk" TIG;
TIMESPEC "TS_sys2pexclk_TIG" = FROM "TNM_sys_clk" TO "CLK_USER_CLK" TIG;
TIMESPEC "TS_ref200_sysclk_TIG" = FROM "TNM_ref_clk200" TO "TNM_sys_clk" TIG;
TIMESPEC "TS_sysclk_ref200_TIG" = FROM "TNM_sys_clk" TO "TNM_ref_clk200" TIG;
TIMESPEC "TS_pddr2_sys2mmcm_clk_TIG" = FROM "TNM_sys_clk" TO "TNM_lpddr2_mmcm_clk" TIG;
TIMESPEC "TS_pddr2_mmcm2sys_clk_TIG" = FROM "TNM_lpddr2_mmcm_clk" TO "TNM_sys_clk" TIG;
TIMESPEC "TS_lpddr2_tb2sys_clk_TIG" = FROM "TNM_lpddr2_tb_clk" TO "TNM_sys_clk" TIG;
TIMESPEC "TS_lpddr2_sys2tb_clk_TIG" = FROM "TNM_sys_clk" TO "TNM_lpddr2_tb_clk" TIG;
TIMESPEC "TS_lpddr2_tb2mmcm_clk_TIG" = FROM "TNM_lpddr2_tb_clk" TO "TNM_lpddr2_mmcm_clk" TIG;
TIMESPEC "TS_lpddr2_mmcm2tb_clk_TIG" = FROM "TNM_lpddr2_mmcm_clk" TO "TNM_lpddr2_tb_clk" TIG;
TIMESPEC "TS_lpddr2_mmcm2ref_clk_TIG" = FROM "TNM_lpddr2_mmcm_clk" TO "TNM_ref_clk200" TIG;
TIMESPEC "TS_SYS2DAC_TIG" = FROM "TNM_sys_clk" TO "TNM_DAC_CLK" TIG;
TIMESPEC "TS_DAC2SYS_TIG" = FROM "TNM_DAC_CLK" TO "TNM_sys_clk" TIG;
TIMESPEC "TS_SYS2ADC_TIG" = FROM "TNM_sys_clk" TO "TNM_ADC_CLK" TIG;
TIMESPEC "TS_ADC2SYS_TIG" = FROM "TNM_ADC_CLK" TO "TNM_sys_clk" TIG;
TIMESPEC "TS_SYS2REF_DAC_TIG" = FROM "TNM_sys_clk" TO "TNM_REF_DAC_CLK" TIG;
TIMESPEC "TS_REF_DAC2SYS_TIG" = FROM "TNM_REF_DAC_CLK" TO "TNM_sys_clk" TIG;
TIMESPEC "TS_SYS2REF_ADC_TIG" = FROM "TNM_sys_clk" TO "TNM_REF_ADC_CLK" TIG;
TIMESPEC "TS_REF_ADC2SYS_TIG" = FROM "TNM_REF_ADC_CLK" TO "TNM_sys_clk" TIG;


## Anything to/from the WB should be slow in the dsp control registers.  With the exception of kernel memory writes maybe
INST "inst_dsp*/inst_BBN_QDSP_regs/inst_core/app_data_read*" TNM = "TNM_wb_qdsp_app_data_read";
TIMESPEC "TS_qdsp_reg_i_mcycle" = FROM "FFS" TO "TNM_wb_qdsp_app_data_read" "TS_sys_clk" * 4;

INST "inst_dsp*/inst_BBN_QDSP_regs/inst_core/app_wr_en*" TNM = "TNM_wb_qdsp_app_wr_en";
TIMESPEC "TS_qdsp_reg_en_o_mcycle" = FROM "TNM_wb_qdsp_app_wr_en" TO "FFS" "TS_sys_clk" * 2;

INST "inst_dsp*/inst_BBN_QDSP_regs/inst_core/wb_reg_o*" TNM = "TNM_wb_qdsp_wb_reg_o";
TIMESPEC "TS_qdsp_reg_o_mcycle" = FROM "TNM_wb_qdsp_wb_reg_o" TO "FFS" "TS_sys_clk" * 2;

#INST "inst_dsp*/inst_BBN_QDSP_regs/inst_core/wb_reg_o*" TNM = "TNM_wb_qdsp_reg_o";
#INST "inst_dsp*/inst_BBN_QDSP_regs/inst_core/wb_reg_i_core" TNM = "TNM_wb_qdsp_reg_i";
#TIMESPEC "TS_qdsp_wb_o_TIG" = FROM "TNM_wb_qdsp_reg_o" TO "FFS" TIG;
#TIMESPEC "TS_qdsp_wb_i_TIG" = FROM "FFS" TO "TNM_wb_qdsp_reg_i" TIG;


################################################################################
# X6-1000M AFE (VCXO, PLL, External Sync, ADC, and DAC) interface constraints
# I/O STANDARDS, PIN LOC, and timing Constraints
################################################################################

# VCXO interface
NET "pll_vcxo_en"    LOC = E33 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_vcxo_scl"   LOC = G30 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_vcxo_sda"   LOC = F30 | IOSTANDARD = LVCMOS25;  #Bank 16


# PLL interface
NET "pll_ext_clk_sel" LOC = C32 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_pwr_down_n" LOC = H30 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_reset_n"    LOC = G31 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_lock"       LOC = C33 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_spi_le"     LOC = C34 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_spi_miso"   LOC = B34 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_spi_mosi"   LOC = K28 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "pll_spi_sclk"   LOC = E32 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "ref_adc_clk_p"  LOC = L23 | IOSTANDARD = DIFF_SSTL18_I;  #Bank 24
NET "ref_adc_clk_n"  LOC = M22 | IOSTANDARD = DIFF_SSTL18_I;  #Bank 24
NET "ref_dac_clk_p"  LOC = J9  | IOSTANDARD = LVDS_25;  #Bank 34
NET "ref_dac_clk_n"  LOC = H9  | IOSTANDARD = LVDS_25;  #Bank 34

# External Sync
NET "ext_sync_sel"    LOC = B32  | IOSTANDARD = LVCMOS25;  #Bank 16
NET "adc0_ext_sync_p" LOC = AA34 | IOSTANDARD = LVPECL_25;  #Bank 13
NET "adc0_ext_sync_n" LOC = AA33 | IOSTANDARD = LVPECL_25;  #Bank 13
NET "adc1_ext_sync_p" LOC = AC33 | IOSTANDARD = LVPECL_25;  #Bank 13
NET "adc1_ext_sync_n" LOC = AB33 | IOSTANDARD = LVPECL_25;  #Bank 13
NET "dac0_ext_sync_p" LOC = K33  | IOSTANDARD = LVPECL_25;  #Bank 16
NET "dac0_ext_sync_n" LOC = J34  | IOSTANDARD = LVPECL_25;  #Bank 16
NET "dac1_ext_sync_p" LOC = K34  | IOSTANDARD = LVPECL_25;  #Bank 15
NET "dac1_ext_sync_n" LOC = L34  | IOSTANDARD = LVPECL_25;  #Bank 15


# ADC SPI interface and control
NET "adc?_spi_*"     IOSTANDARD = "LVCMOS18";
NET "adc0_spi_sclk"  LOC = AE23;  #Bank 24
NET "adc0_spi_sdenb" LOC = AE24;  #Bank 24
NET "adc0_spi_sdio"  LOC = AD24;  #Bank 24
NET "adc1_spi_sclk"  LOC = AF23;  #Bank 24
NET "adc1_spi_sdenb" LOC = AG23;  #Bank 24
NET "adc1_spi_sdio"  LOC = AE22;  #Bank 24


# ADC interface (data) constraints
NET "adc?_da_dclk_?" IOSTANDARD = "LVDS_25";
NET "adc?_da_?[*]"   IOSTANDARD = "LVDS_25";
NET "adc?_ovra_?"    IOSTANDARD = "LVDS_25";
NET "adc?_reset_?"   IOSTANDARD = "LVDS_25";

# ADC0 interface
NET "adc0_da_dclk_p" LOC = AE33;  #Bank 13
NET "adc0_da_dclk_n" LOC = AF33;  #Bank 13
NET "adc0_ovra_p"    LOC = Y32 ;  #Bank 14
NET "adc0_ovra_n"    LOC = Y31 ;  #Bank 14
NET "adc0_reset_p"   LOC = Y33 ;  #Bank 14
NET "adc0_reset_n"   LOC = Y34 ;  #Bank 14
NET "adc0_da_p[0]"   LOC = W31 ;  #Bank 14
NET "adc0_da_n[0]"   LOC = W32 ;  #Bank 14
NET "adc0_da_p[1]"   LOC = W29 ;  #Bank 14
NET "adc0_da_n[1]"   LOC = Y29 ;  #Bank 14
NET "adc0_da_p[2]"   LOC = Y28 ;  #Bank 14
NET "adc0_da_n[2]"   LOC = Y27 ;  #Bank 14
NET "adc0_da_p[3]"   LOC = AB25;  #Bank 13
NET "adc0_da_n[3]"   LOC = AC25;  #Bank 13
NET "adc0_da_p[4]"   LOC = AB27;  #Bank 13
NET "adc0_da_n[4]"   LOC = AC27;  #Bank 13
NET "adc0_da_p[5]"   LOC = AA25;  #Bank 13
NET "adc0_da_n[5]"   LOC = Y26 ;  #Bank 13
NET "adc0_da_p[6]"   LOC = AA26;  #Bank 13
NET "adc0_da_n[6]"   LOC = AB26;  #Bank 13
NET "adc0_da_p[7]"   LOC = AA28;  #Bank 13
NET "adc0_da_n[7]"   LOC = AA29;  #Bank 13
NET "adc0_da_p[8]"   LOC = AA30;  #Bank 13
NET "adc0_da_n[8]"   LOC = AA31;  #Bank 13
NET "adc0_da_p[9]"   LOC = AB30;  #Bank 13
NET "adc0_da_n[9]"   LOC = AB31;  #Bank 13
NET "adc0_da_p[10]"  LOC = AB32;  #Bank 13
NET "adc0_da_n[10]"  LOC = AC32;  #Bank 13
NET "adc0_da_p[11]"  LOC = AD34;  #Bank 13
NET "adc0_da_n[11]"  LOC = AC34;  #Bank 13


# ADC1 interface
NET "adc1_da_dclk_p" LOC = AD30;  #Bank 13
NET "adc1_da_dclk_n" LOC = AC30;  #Bank 13
NET "adc1_ovra_p"    LOC = AG33;  #Bank 13
NET "adc1_ovra_n"    LOC = AG32;  #Bank 13
NET "adc1_reset_p"   LOC = AE34;  #Bank 13
NET "adc1_reset_n"   LOC = AF34;  #Bank 13
NET "adc1_da_p[0]"   LOC = AD32;  #Bank 13
NET "adc1_da_n[0]"   LOC = AE32;  #Bank 13
NET "adc1_da_p[1]"   LOC = AE31;  #Bank 13
NET "adc1_da_n[1]"   LOC = AD31;  #Bank 13
NET "adc1_da_p[2]"   LOC = AG31;  #Bank 13
NET "adc1_da_n[2]"   LOC = AF31;  #Bank 13
NET "adc1_da_p[3]"   LOC = AD29;  #Bank 13
NET "adc1_da_n[3]"   LOC = AC29;  #Bank 13
NET "adc1_da_p[4]"   LOC = AB28;  #Bank 13
NET "adc1_da_n[4]"   LOC = AC28;  #Bank 13
NET "adc1_da_p[5]"   LOC = AP32;  #Bank 12
NET "adc1_da_n[5]"   LOC = AP33;  #Bank 12
NET "adc1_da_p[6]"   LOC = AN32;  #Bank 12
NET "adc1_da_n[6]"   LOC = AM32;  #Bank 12
NET "adc1_da_p[7]"   LOC = AL30;  #Bank 12
NET "adc1_da_n[7]"   LOC = AM31;  #Bank 12
NET "adc1_da_p[8]"   LOC = AL31;  #Bank 12
NET "adc1_da_n[8]"   LOC = AK31;  #Bank 12
NET "adc1_da_p[9]"   LOC = AM33;  #Bank 12
NET "adc1_da_n[9]"   LOC = AL33;  #Bank 12
NET "adc1_da_p[10]"  LOC = AK33;  #Bank 12
NET "adc1_da_n[10]"  LOC = AK32;  #Bank 12
NET "adc1_da_p[11]"  LOC = AD25;  #Bank 12
NET "adc1_da_n[11]"  LOC = AD26;  #Bank 12



# DAC SPI interface and control
NET "dac_dig_en"     LOC = K26 | IOSTANDARD = LVCMOS25;  #Bank 16
NET "dac?_resetb"    IOSTANDARD = "LVCMOS15";
NET "dac?_spi_*"     IOSTANDARD = "LVCMOS18";
NET "dac0_resetb"    LOC = E16 ;  #Bank 36
NET "dac1_resetb"    LOC = C15 ;  #Bank 36
NET "dac0_spi_sclk"  LOC = T24 ;  #Bank 24
NET "dac0_spi_sdenb" LOC = Y24 ;  #Bank 24
NET "dac0_spi_sdio"  LOC = T23 ;  #Bank 24
NET "dac0_spi_sdo"   LOC = J25 ;  #Bank 24
NET "dac1_spi_sclk"  LOC = AB23;  #Bank 24
NET "dac1_spi_sdenb" LOC = AC24;  #Bank 24
NET "dac1_spi_sdio"  LOC = AA24;  #Bank 24
NET "dac1_spi_sdo"   LOC = AA23;  #Bank 24


# DAC interface (data) constraints
NET "dac?_clk_in_?"  IOSTANDARD = "LVDS_25";
NET "dac?_dclk_?"    IOSTANDARD = "LVDS_25";
NET "dac?_data_?[*]" IOSTANDARD = "LVDS_25";
NET "dac?_sync*"     IOSTANDARD = "LVDS_25";
NET "dac?_dig_?"     IOSTANDARD = "LVDS_25";

# DAC0 interface
NET "dac0_clk_in_p"   LOC = N33;  #Bank 15
NET "dac0_clk_in_n"   LOC = M33;  #Bank 15
NET "dac0_dclk_p"     LOC = N28;  #Bank 15
NET "dac0_dclk_n"     LOC = N29;  #Bank 15
NET "dac0_data_p[0]"  LOC = N34;  #Bank 15
NET "dac0_data_n[0]"  LOC = P34;  #Bank 15
NET "dac0_data_p[1]"  LOC = N32;  #Bank 15
NET "dac0_data_n[1]"  LOC = P32;  #Bank 15
NET "dac0_data_p[2]"  LOC = R31;  #Bank 15
NET "dac0_data_n[2]"  LOC = R32;  #Bank 15
NET "dac0_data_p[3]"  LOC = P31;  #Bank 15
NET "dac0_data_n[3]"  LOC = P30;  #Bank 15
NET "dac0_data_p[4]"  LOC = L33;  #Bank 15
NET "dac0_data_n[4]"  LOC = M32;  #Bank 15
NET "dac0_data_p[5]"  LOC = P25;  #Bank 15
NET "dac0_data_n[5]"  LOC = P26;  #Bank 15
NET "dac0_data_p[6]"  LOC = N27;  #Bank 15
NET "dac0_data_n[6]"  LOC = P27;  #Bank 15
NET "dac0_data_p[7]"  LOC = M30;  #Bank 15
NET "dac0_data_n[7]"  LOC = N30;  #Bank 15
NET "dac0_data_p[8]"  LOC = L28;  #Bank 15
NET "dac0_data_n[8]"  LOC = M28;  #Bank 15
NET "dac0_data_p[9]"  LOC = L29;  #Bank 15
NET "dac0_data_n[9]"  LOC = L30;  #Bank 15
NET "dac0_data_p[10]" LOC = M31;  #Bank 15
NET "dac0_data_n[10]" LOC = L31;  #Bank 15
NET "dac0_data_p[11]" LOC = F31;  #Bank 16
NET "dac0_data_n[11]" LOC = E31;  #Bank 16
NET "dac0_data_p[12]" LOC = E34;  #Bank 16
NET "dac0_data_n[12]" LOC = F34;  #Bank 16
NET "dac0_data_p[13]" LOC = D31;  #Bank 16
NET "dac0_data_n[13]" LOC = D32;  #Bank 16
NET "dac0_data_p[14]" LOC = G32;  #Bank 16
NET "dac0_data_n[14]" LOC = H32;  #Bank 16
NET "dac0_data_p[15]" LOC = J30;  #Bank 16
NET "dac0_data_n[15]" LOC = K29;  #Bank 16
NET "dac0_sync_p"     LOC = L25;  #Bank 16
NET "dac0_sync_n"     LOC = L26;  #Bank 16
NET "dac0_sync2_p"    LOC = J31;  #Bank 16
NET "dac0_sync2_n"    LOC = J32;  #Bank 16
NET "dac0_dig_p"      LOC = H34;  #Bank 16
NET "dac0_dig_n"      LOC = H33;  #Bank 16


# DAC1 interface
NET "dac1_clk_in_p"   LOC = V34;  #Bank 14
NET "dac1_clk_in_n"   LOC = W34;  #Bank 14
NET "dac1_dclk_p"     LOC = V30;  #Bank 14
NET "dac1_dclk_n"     LOC = W30;  #Bank 14
NET "dac1_data_p[0]"  LOC = V32;  #Bank 14
NET "dac1_data_n[0]"  LOC = V33;  #Bank 14
NET "dac1_data_p[1]"  LOC = U31;  #Bank 14
NET "dac1_data_n[1]"  LOC = U30;  #Bank 14
NET "dac1_data_p[2]"  LOC = W27;  #Bank 14
NET "dac1_data_n[2]"  LOC = W26;  #Bank 14
NET "dac1_data_p[3]"  LOC = W25;  #Bank 14
NET "dac1_data_n[3]"  LOC = V25;  #Bank 14
NET "dac1_data_p[4]"  LOC = U25;  #Bank 14
NET "dac1_data_n[4]"  LOC = T25;  #Bank 14
NET "dac1_data_p[5]"  LOC = U26;  #Bank 14
NET "dac1_data_n[5]"  LOC = U27;  #Bank 14
NET "dac1_data_p[6]"  LOC = V28;  #Bank 14
NET "dac1_data_n[6]"  LOC = V27;  #Bank 14
NET "dac1_data_p[7]"  LOC = U28;  #Bank 14
NET "dac1_data_n[7]"  LOC = V29;  #Bank 14
NET "dac1_data_p[8]"  LOC = T28;  #Bank 14
NET "dac1_data_n[8]"  LOC = T29;  #Bank 14
NET "dac1_data_p[9]"  LOC = T30;  #Bank 14
NET "dac1_data_n[9]"  LOC = T31;  #Bank 14
NET "dac1_data_p[10]" LOC = U33;  #Bank 14
NET "dac1_data_n[10]" LOC = U32;  #Bank 14
NET "dac1_data_p[11]" LOC = R33;  #Bank 14
NET "dac1_data_n[11]" LOC = R34;  #Bank 14
NET "dac1_data_p[12]" LOC = T33;  #Bank 14
NET "dac1_data_n[12]" LOC = T34;  #Bank 14
NET "dac1_data_p[13]" LOC = P29;  #Bank 15
NET "dac1_data_n[13]" LOC = R29;  #Bank 15
NET "dac1_data_p[14]" LOC = R28;  #Bank 15
NET "dac1_data_n[14]" LOC = R27;  #Bank 15
NET "dac1_data_p[15]" LOC = R26;  #Bank 15
NET "dac1_data_n[15]" LOC = T26;  #Bank 15
NET "dac1_sync_p"     LOC = N25;  #Bank 15
NET "dac1_sync_n"     LOC = M25;  #Bank 15
NET "dac1_sync2_p"    LOC = M26;  #Bank 15
NET "dac1_sync2_n"    LOC = M27;  #Bank 15
NET "dac1_dig_p"      LOC = K32;  #Bank 15
NET "dac1_dig_n"      LOC = K31;  #Bank 15


################################################################################
# FPGA part dependent area constraints                                         #
# SX315T                                                                       #
################################################################################
INST "inst_afe_top/inst_adc0/inst_adc_intf/inst_adc_phy_top/inst_ads5400_phy/inst_idelayctrl" LOC = "IDELAYCTRL_X0Y1";
INST "inst_afe_top/inst_adc1/inst_adc_intf/inst_adc_phy_top/inst_ads5400_phy/inst_idelayctrl" LOC = "IDELAYCTRL_X0Y0";
INST "inst_afe_top/inst_dac0_intf/inst_dac_intf/dac5682z_phy_inst/idelayctrl_inst" LOC = "IDELAYCTRL_X0Y3";
INST "inst_afe_top/inst_dac1_intf/inst_dac_intf/dac5682z_phy_inst/idelayctrl_inst" LOC = "IDELAYCTRL_X0Y2";
INST "inst_afe_top/inst_idelayctrl" LOC = "IDELAYCTRL_X0Y4";

# Do not change these constraints
INST "inst_afe_top/inst_adc0/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/ISERDESE1_inst" LOC = ILOGIC_X0Y62;
INST "inst_afe_top/inst_adc0/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/IODELAY_inst" LOC = IODELAY_X0Y62;
INST "inst_afe_top/inst_adc1/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/ISERDESE1_inst" LOC = ILOGIC_X0Y60;
INST "inst_afe_top/inst_adc1/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/IODELAY_inst" LOC = IODELAY_X0Y60;
INST "inst_afe_top/adc0_sw_trig" LOC = SLICE_X7Y61;
INST "inst_afe_top/adc0_sw_trig" BEL = B5FF;
INST "inst_afe_top/adc1_sw_trig" LOC = SLICE_X7Y61;
INST "inst_afe_top/adc1_sw_trig" BEL = BFF;
INST "inst_afe_top/inst_dac0_intf/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/IODELAY_inst" LOC = IODELAY_X0Y120;
INST "inst_afe_top/inst_dac0_intf/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/ISERDESE1_inst" LOC = ILOGIC_X0Y120;
INST "inst_afe_top/inst_dac1_intf/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/IODELAY_inst" LOC = IODELAY_X0Y118;
INST "inst_afe_top/inst_dac1_intf/inst_sync_s1p4_intf/sw_trig_s1p4_fabric/ISERDESE1_inst" LOC = ILOGIC_X0Y118;
INST "inst_afe_top/dac0_sw_trig" LOC = SLICE_X0Y120;
INST "inst_afe_top/dac0_sw_trig" BEL = D5FF;
INST "inst_afe_top/dac1_sw_trig" LOC = SLICE_X0Y118;
INST "inst_afe_top/dac1_sw_trig" BEL = D5FF;
INST "inst_afe_top/dac_sw_trig_dmt" LOC = SLICE_X1Y120;
INST "inst_afe_top/dac_sw_trig_dmt" BEL = AFF;

#ISE messes up Map and places the BUFR in the wrong clock region sometimes
#See Xilnx AR 59173 http://www.xilinx.com/support/answers/59173.html
INST "inst_afe_top/inst_dac1_intf/inst_dac_intf/dac5682z_phy_inst/dac_clk_bufr_inst" LOC = BUFR_X0Y4;
